<div>
  <h4 class="page-header">
    Ask for clinic code
    <button class="close" on-click="close()">&times</button>
  </h4>

  <div class="grid-form">
    <fieldset>
      <div data-row-span="3" class="{{^text}}is-incomplete{{/text}}">
        <div data-field-span="3">
          <label>Question</label>
          <textarea value="{{text}}"></textarea>
        </div>

      <div class="btn-group btn-group-xs nm-content-actions">
        <button class="btn btn-default nm-placeholder" on-click="insertUserField()">Insert user field</button>
      </div>
      </div>

      <div data-row-span="3" class="{{^invalidInputText}}is-incomplete{{/invalidInputText}}">
        <div data-field-span="3">
          <label>Content to show for invalid input</label>
          <textarea value="{{invalidInputText}}"></textarea>
        </div>

        <div class="btn-group btn-group-xs nm-content-actions">
          <button class="btn btn-default nm-placeholder" on-click="insertUserFieldInvalid()">Insert user field</button>
        </div>
      </div>

      <div data-row-span="3" class="{{^saveAs}}is-incomplete{{/saveAs}}">
        <div data-field-span="3">
          <label>
            Save answer as
          </label>

          <input type="text" value="{{saveAs}}">
        </div>
      </div>
    </fieldset>
  </div>

  <br/>

  <hr class="nm-divider">

  <button type="button" class="btn btn-default pull-left" on-click="close()">Save and close <span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
