<div class="nm-block panel panel-default">
  <div class="panel-body">
    <div class="btn-group btn-group-sm pull-right">
      <button class="btn btn-default nm-block-action nm-block-edit" on-click="edit()">Edit</button>
      <button class="btn btn-default nm-block-action" on-click="destroy()">Remove</button>
    </div>
    <p class="nm-block-title">Ask for clinic code</p>

    <br/>
    <div class="list-group nm-preview-list">
      <div class="list-group-item nm-preview-list-item">
        <div class="list-group-item-text">
          {{#text}}{{text}}{{/text}}
          {{^text}}<i class="nm-preview-annotation">No question content</i>{{/text}}
        </div>
      </div>

      <div class="list-group-item nm-preview-list-item">
        <div class="list-group-item-text">
          {{^invalidInputText}}
          <i class="nm-preview-annotation">
            No invalid input content
          </i>
          {{/invalidInputText}}

          {{#invalidInputText}}
          <p class="nm-preview-annotation">If invalid input is given, show:</p>
          <p>
            {{invalidInputText}}
          </p>
          {{/invalidInputText}}
        </div>
      </div>

      <div class="list-group-item nm-preview-list-item">
        <div class="list-group-item-text nm-preview-annotation">
          {{#saveAs}}
          Answer saved as <strong>{{saveAs}}</strong>
          {{/saveAs}}

          {{^saveAs}}
          <i>
            No answer field given
          </i>
          {{/saveAs}}
        </div>
      </div>
    </div>
  </div>
</div>
