<div>
  <h4 class="page-header">
    Conditionally go to another sequence
    <button class="close" on-click="close()">&times</button>
  </h4>

  <div class="nm-form">
    <div class="nm-rows">
      {{^route}}
      <div class="nm-row">
        <div class="nm-cell nm-cell-placeholder is-incomplete" on-click="setRoute()">
          <label>Sequence to route to</label>
          <span class="glyphicon glyphicon-chevron-right pull-right"></span>
          <span class="nm-static-input nm-static-input-placeholder">Choose a sequence</span>
        </div>
      </div>
      {{/route}}

      {{#route}}
      <div class="nm-row">
        <div class="nm-cell nm-cell-18">
          <label>Route</label>

          <span class="nm-static-input">
            {{name}}
          </span>
        </div>

        <button class="nm-cell nm-cell-btn nm-cell-3 btn" on-click="setRoute()">Change</button>
        <button class="nm-cell nm-cell-btn nm-cell-3 btn" on-click="removeRoute()">Remove</button>
      </div>
      {{/route}}

      {{#conditionSet}}
        <conditions type="{{type}}" name="{{name}}" conditions="{{conditions}}"></conditions>
      {{/conditionSet}}
    </div>
  </div>

  <hr class="nm-divider">

  <button type="button" class="btn btn-default pull-left" on-click="close()">Save and close <span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
