<div class="nm-block panel panel-default">
  <div class="panel-body">
    <div class="btn-group btn-group-sm pull-right">
      <button class="btn btn-default nm-block-action nm-block-edit" on-click="edit()">Edit</button>
      <button class="btn btn-default nm-block-action" on-click="destroy()">Remove</button>
    </div>
    <p class="nm-block-title">Conditionally go to another sequence</p>

    <br/>
    <div class="list-group nm-preview-list">
      {{#conditionSet}}
        <conditions type="{{type}}" name="{{name}}" conditions="{{conditions}}"></conditions>
      {{/conditionSet}}

      <div class="list-group-item nm-preview-list-item">
        <p>
          {{^route}}
          <i class="nm-preview-annotation">No sequence given</i>
          {{/route}}

          {{#route}}
          <a class="list-group-item nm-preview-list-item {{#activeBlockItemId === itemId}}active{{/}}" on-click="onConditionalRouteClick(event)" href="#">
            <span class="nm-preview-arrow glyphicon glyphicon-menu-right pull-right"></span>

            <p>&nbsp↳ {{name}}</p>
          </a>
          {{/route}}
        </p>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    {{^isComplete}}
    <p class="label label-warning">Incomplete</p>
    {{/isComplete}}
  </div>
</div>
