<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="popover left" style="left: 13em; top: 10em;">
        <div class="arrow"></div>
        <div class="popover-content">
          <p>The first things someone does is name the collection and choose its event, before they can start adding content.</p>
        </div>
      </div>

      <ol class="breadcrumb">
        <li><a href="/numi-prototypes/">Home</a></li>
        <li class="active">Add collection</li>
      </ol>

      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1 class="page-header">Add collection</h1>

          <div class="form-group">
            <label for="ask-text">Name of collection</label>
            <input type="text" id="choice-text" name="choice-text" class="form-control" value="{{name}}">
          </div>


          {{^ onlyLinked }}

          <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>Every collection starts runs with one <strong>event</strong>, and can have only one event.</p>
          </div>

          <div class="form-group">
            <label>This collection runs:</label>
            <div class="btn-group-vertical text-left" data-toggle="buttons" style="width: 100%;">
              <label on-click="set('type', 'session')" class="btn btn-default active">
                <input type="radio" checked>
                When the user dials in
              </label>

              <label on-click="set('type', 'message')" class="btn btn-default">
                <input type="radio">
                When the user sends a message
              </label>

              <label on-click="set('type', 'schedule')" class="btn btn-default">
                <input type="radio">
                On a schedule
              </label>

              <label on-click="set('type', 'indirect')" class="btn btn-default">
                <input type="radio">
                As part of another collection
              </label>
            </div>
          </div>
          {{/ onlyLinked }}

          {{# onlyLinked }}
          <p class="text-info">This collection will be run as part of another collection</p>
          {{/ onlyLinked }}

          <button class="btn btn-default" on-click="save()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
