<div class="nm-container">
  <div class="nm-head">
    <div class="nm-toolbar pull-right">
      <div class="nm-toolbar-group nm-state">
        {{#shownLanguageName}}
        <div class="btn-group btn-group-sm">
          <button class="btn btn-default" on-click="changeLanguage()">{{shownLanguageName}}</button>
          <button class="btn btn-default" on-click="hideLanguage()">&times</button>
        </div>
        {{/shownLanguageName}}
      </div>

      <div class="nm-toolbar-group nm-actions">
        <div class="btn-group">
          <a class="btn btn-sm btn-default {{^hasSelection}}disabled{{/hasSelection}}" href="./dialogues/{{id}}" on-click="showSelected()">Show selected in dialogue</a>
          <a class="btn btn-sm btn-default" href="./dialogues/{{id}}">Back to dialogue</a>
        </div>

        <button class="btn btn-sm btn-default">
          Menu
        </button>

        <button class="btn btn-sm btn-default">
          Sarima
        </button>
      </div>
    </div>

    <div class="nm-titles">
      <a class="nm-title" href="/numi-prototypes/">
        <small>Campaign</small>
        <div class="nm-title-text">
          {{campaignName}}
        </div>
      </a>

      <div class="nm-title-divider">
        <span class="glyphicon glyphicon-menu-right"></span>
      </div>

      <a class="nm-title" href="./dialogues/{{id}}">
        <small>Dialogue</small>
        <div class="nm-title-text">
          {{name}}
        </div>
      </a>

      <div class="nm-title-divider">
        <span class="glyphicon glyphicon-menu-right"></span>
      </div>

      <div class="nm-title">
        <div class="nm-title-text nm-title-text-center">
          Overview
        </div>
      </div>
    </div>
  </div>

  <div class="nm-body">
    <!-- TODO better way of updating on vis interactions -->
    <div class="nm-vis nm-vis-overview" on-click="refresh()">
      <svg class="nm-ov-container">
        <g class="nm-vis-main">
          <rect class="nm-ov-underlay"></rect>
          <g class="nm-ov-links"></g>
          <g class="nm-ov-nodes"></g>
        </g>
      </svg>

      <div class="nm-ov-key">
        <table class="nm-ov-key-table">
          <tr>
            <td>
              <svg class="nm-ov-key-glyph nm-ov-key-glyph-link" width=25 height=25>
              </svg>
            </td>

            <td>
              <span class="nm-ov-key-text">
                Route between sequences
              </span>
            </td>
          </tr>

          <tr>
            <td>
              <svg class="nm-ov-key-glyph nm-ov-key-glyph-node-leaf" width=25 height=25>
              </svg>
            </td>

            <td>
              <span class="nm-ov-key-text">
                Ending sequence
              </span>
            </td>
          </tr>

          <tr>
            <td>
              <svg class="nm-ov-key-glyph nm-ov-key-glyph-node-collapsed" width=25 height=25>
              </svg>
            </td>

            <td>
              <span class="nm-ov-key-text">
                Sequence with routes hidden
              </span>
            </td>
          </tr>

          <tr>
            <td>
              <svg class="nm-ov-key-glyph nm-ov-key-glyph-node-expanded" width=25 height=25>
              </svg>
            </td>

            <td>
              <span class="nm-ov-key-text">
                Sequence with routes shown
              </span>
            </td>
          </tr>

          <tr>
            <td>
              <svg class="nm-ov-key-glyph nm-ov-key-glyph-selection-old" width=25 height=25>
              </svg>
            </td>

            <td>
              <span class="nm-ov-key-text">
                Selection in dialogue
              </span>
            </td>
          </tr>

          <tr>
            <td>
              <svg class="nm-ov-key-glyph nm-ov-key-glyph-selection-new" width=25 height=25>
              </svg>
            </td>

            <td>
              <span class="nm-ov-key-text">
                New selection
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
