<div class="nm-container">
  <div class="nm-head">
    <div class="nm-toolbar pull-right">
      <div class="nm-toolbar-group nm-state">
        {{#shownLanguageName}}
        <div class="btn-group btn-group-sm">
          <button class="btn btn-default" on-click="changeLanguage()">{{shownLanguageName}}</button>
          <button class="btn btn-default" on-click="hideLanguage()">&times</button>
        </div>
        {{/shownLanguageName}}
      </div>

      <div class="nm-toolbar-group nm-actions">
        <a class="btn btn-sm btn-default" href="./dialogues/{{id}}">Back to dialogue</a>
        <button class="btn btn-sm btn-default">
          Menu
        </button>

        <button class="btn btn-sm btn-default">
          Sarima
        </button>
      </div>
    </div>

    <div class="nm-titles">
      <a class="nm-title" href="/numi-prototypes/">
        <small>Campaign</small>
        <div class="nm-title-text">
          {{campaignName}}
        </div>
      </a>

      <div class="nm-title-divider">
        <span class="glyphicon glyphicon-menu-right"></span>
      </div>

      <a class="nm-title" href="./dialogues/{{id}}">
        <small>Dialogue</small>
        <div class="nm-title-text">
          {{name}}
        </div>
      </a>

      <div class="nm-title-divider">
        <span class="glyphicon glyphicon-menu-right"></span>
      </div>

      <div class="nm-title">
        <div class="nm-title-text nm-title-text-center">
          Overview
        </div>
      </div>
    </div>
  </div>

  <div class="nm-body">
    <div class="nm-vis nm-vis-overview">
      <svg></svg>
    </div>
  </div>
</div>
