<div class="screen">
    <button type="button" class="close close-screen" on-click="destroy()"><span><span class="close-screen-text">remove section</span>&times;</span></button>

    <div class="sortable-blocks">
    {{#blocks}}
        {{# type === 'ask' }}
        <ask></ask>
        {{/}}

        {{# type === 'choice' }}
        <choice></choice>
        {{/}}

        {{# type === 'end' }}
        <end></end>
        {{/}}

        {{# type === 'saveas' }}
        <saveas></saveas>
        {{/}}

        {{# type === 'label' }}
        <lbl></lbl>
        {{/}}

        {{# type === 'userdialsin' }}
        <userdialsin></userdialsin>
        {{/}}
        
        {{# type === 'usersendsmessage' }}
        <usersendsmessage></usersendsmessage>
        {{/}}
        
        {{# type === 'scheduled' }}
        <scheduled></scheduled>
        {{/}}

        {{# type === 'manual' }}
        <manual></manual>
        {{/}}

        {{# type === 'validatecliniccode' }}
        <validatecliniccode></validatecliniccode>
        {{/}}

        {{# type === 'shownext9months' }}
        <shownext9months></shownext9months>
        {{/}}

        {{# type === 'standardmessageset' }}
        <standardmessageset></standardmessageset>
        {{/}}

        {{# type === 'latermessageset' }}
        <latermessageset></latermessageset>
        {{/}}
        
        {{# type === 'acceleratedmessageset' }}
        <acceleratedmessageset></acceleratedmessageset>
        {{/}}

        {{# type === 'filter' }}
        <filter filter='{{filter}}'></filter>
        {{/}}
    {{/blocks}}
    </div>

    <button class="btn btn-default btn-block nm-placeholder" on-click="addBlock()">+ Add block</button>
</div>
