<div class="screen">
    {{#blocks}}

    {{# type === 'ask' }}
    <ask></ask>
    {{/}}

    {{# type === 'choice' }}
    <choice></choice>
    {{/}}

    {{# type === 'userdialsin' }}
    <userdialsin></userdialsin>
    {{/}}
    
    {{# type === 'userreplies' }}
    <userreplies></userreplies>
    {{/}}
    
    {{# type === 'scheduled' }}
    <scheduled></scheduled>
    {{/}}

    {{# type === 'manual' }}
    <manual></manual>
    {{/}}

    {{/blocks}}

    <button class="btn btn-default btn-block nm-placeholder" on-click="addBlock()">Add block</button>
</div>
