<div class="screen sortable-blocks">
    <button type="button" class="close close-screen" on-click="destroy()"><span>&times;</span></button>

    {{#blocks}}
    <div>
        {{# type === 'ask' }}
        <ask></ask>
        {{/}}

        {{# type === 'choice' }}
        <choice></choice>
        {{/}}

        {{# type === 'end' }}
        <end></end>
        {{/}}

        {{# type === 'saveas' }}
        <saveas></saveas>
        {{/}}

        {{# type === 'userdialsin' }}
        <userdialsin></userdialsin>
        {{/}}
        
        {{# type === 'usersendsmessage' }}
        <usersendsmessage></usersendsmessage>
        {{/}}
        
        {{# type === 'scheduled' }}
        <scheduled></scheduled>
        {{/}}

        {{# type === 'manual' }}
        <manual></manual>
        {{/}}

        {{# type === 'validatecliniccode' }}
        <validatecliniccode></validatecliniccode>
        {{/}}

        {{# type === 'shownext9months' }}
        <shownext9months></shownext9months>
        {{/}}

        {{# type === 'standardmessageset' }}
        <standardmessageset></standardmessageset>
        {{/}}

        {{# type === 'latermessageset' }}
        <latermessageset></latermessageset>
        {{/}}
        
        {{# type === 'acceleratedmessageset' }}
        <acceleratedmessageset></acceleratedmessageset>
        {{/}}

    </div>
    {{/blocks}}

    <button class="btn btn-default btn-block nm-placeholder" on-click="addBlock()">+ Add block</button>
</div>
