<div class="panel panel-default">
  <div class="panel-body">
    <p class="nm-block-title">User Dials In</p>
  
    <!-- This list should be on a separate screen. -->
    <div class="list-group">
      <button type="submit" class="btn btn-default btn-block">*120*123#</button>
      <button type="submit" class="btn btn-default btn-block" disabled="disabled">*120*124#</button>
      <button type="submit" class="btn btn-default btn-block">*120*789#</button>
      <button type="submit" class="btn btn-default btn-block">123456</button>
      <button type="submit" class="btn btn-default btn-block">@motherlinker</button>
    </div>

    <button class="btn btn-default btn-block nm-placeholder">+ Add channel</button>
  </div>
</div>
