<div class="panel panel-default panel-highlighted">
  <div class="panel-body">
    <button type="button" class="close" on-click="destroy()"><span>&times;</span></button>

    <p class="nm-block-title">When user dials in on</p>
  
    {{#channel}}
    <button class="btn btn-default btn-block" on-click="chooseChannel()">{{channel}}</button>
    {{/channel}}

    {{^channel}}
    <button class="btn btn-default btn-block nm-placeholder" on-click="chooseChannel()">Choose channel</button>
    {{/channel}}

    <br/>
  </div>
</div>
