<div class="nm-cell nm-cell-{{operandSpan}} nm-cond-operand {{#!exists('a')}}is-incomplete nm-cell-placeholder{{/}}" on-click="chooseOperand('a')">
  <span class="nm-static-input">
    {{#exists('a')}}{{preview('a')}}{{/}}
    {{#!exists('a')}}Choose a value{{/}}
  </span>
</div>

<div class="nm-cell nm-cell-{{operatorSpan}} nm-cond-operator">
  <span class="nm-static-input">{{operator}}</span>
</div>

<div class="nm-cell nm-cell-{{operandSpan}} nm-cond-operand {{#!exists('b')}}is-incomplete nm-cell-placeholder{{/}}" on-click="chooseOperand('b')">
  <span class="nm-static-input">
    {{#exists('b')}}{{preview('b')}}{{/}}
    {{#!exists('b')}}Choose a value{{/}}
  </span>
</div>

<button class="nm-cell nm-cell-3 nm-cell-btn btn" on-click="destroy()">Remove</button>
