<div class="panel panel-default">
  <div class="panel-body">
    <button type="button" class="close" on-click="destroy()"><span>&times;</span></button>

    <p class="nm-block-title">Send</p>
    <textarea class="form-control" rows="3" value="{{ text }}"></textarea>
    <!-- TODO other stuff -->

    <br/>
    <button class="btn btn-default btn-block nm-placeholder" on-click="addContent()">+ Insert special text</button>

  </div>
  
  {{# isSessionLast }}
  <br/>
  <div class="panel-footer">
    The session ends after this message.
  </div>
  {{/ isSessionLast }}
</div>
