<div>
  <h3 class="page-header">
    Show Next N Months
    <button class="close" on-click="close()">&times</button>
  </h3>

  <div class="grid-form">
    <fieldset>
      <div data-row-span="1" class="{{^text}}is-incomplete{{/text}}">
        <div data-field-span="1">
          <label>Question</label>
          <textarea value="{{text}}"></textarea>
        </div>

        <div class="btn-group btn-group-xs nm-content-actions">
          <button class="btn btn-default nm-placeholder" on-click="insertUserField()">Insert user field</button>
        </div>
      </div>

      <div data-row-span="1" class="{{^saveAs}}is-incomplete{{/saveAs}}">
        <div data-field-span="1">
          <label>
            Save answer as
          </label>

          <input type="text" value="{{saveAs}}">
        </div>
      </div>

      <div data-row-span="1">
        <div data-field-span="1">
          <label>
            Number of months after
          </label>

          <input type="number" min=1 max=10 value="{{monthsAfter}}">
        </div>
      </div>
    </fieldset>
  </div>

  <br/>

  <hr class="nm-divider">

  <button type="button" class="btn btn-default pull-left" on-click="close()">Save and close <span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
