<div class="nm-block panel panel-default">
  <div class="panel-body">
    <div class="btn-group btn-group-sm pull-right">
      <button class="btn btn-default nm-block-action nm-block-edit" on-click="edit()">Edit</button>
      <button class="btn btn-default nm-block-action" on-click="destroy()">Remove</button>
    </div>
    <p class="nm-block-title">Show next {{monthsAfter}} months</p>

    <div class="list-group nm-preview-list">
      <div class="list-group-item nm-preview-list-item">
        {{#text}}{{text}}{{/text}}
        {{^text}}<span class="nm-preview-annotation">No content</span>{{/text}}
      </div>

      {{#exampleMonths:i}}
      <div class="list-group-item nm-preview-list-item">
        {{#i === 0}}<p class="nm-preview-annotation">If month is October, user sees:</p>{{/}}
        {{i + 1}}. {{.}}
      </div>
      {{/exampleMonths}}
    </div>
  </div>
</div>
