<div class="nm-page">
  <div class="input-group">
    <input id="search-input" type="text" class="form-control" placeholder="Search for a block...">
    <span class="input-group-btn">
      <button id="search-btn" class="btn btn-default" type="button">Search</button>
    </span>
  </div>

  <br/>

  <div class="panel-group" id="accordion" role="tablist">
  {% for category in page.blocks.categories %}
    <div class="panel panel-default nm-block-category">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#{{ category.title | slugify }}">
              {{ category.title }}
          </a>
        </h4>
      </div>
      <div id="{{ category.title | slugify }}" class="panel-collapse collapse in">
        <div class="panel-body">
          {% for block in category.blocks %}
            <a {% if block.href %}href="{{ site.baseurl }}/{{ block.href }}"{% endif %} class="btn {{ category.btnClass }} nm-btn-block">{{ block.title }}</a>
          {% endfor %}
        </div>
      </div>
   </div>
  {% endfor %}
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() { 
  $('#search-btn').click(function(e) {
    hideUnmatched($('#search-input').val());
  });

  function hideUnmatched(expr) {
    expr = new RegExp(escapeRegExp(expr), 'i');

    $('.nm-btn-block').each(function() {
      if (!$(this).text().match(expr)) hide(this);
      else show(this);
    });

    $('.nm-block-category').each(function() {
      var $all = $(this).find('.nm-btn-block');
      var $hidden = $(this).find('.nm-btn-block[data-hidden]');
      if ($all.length === $hidden.length) hide(this);
      else show(this);
    });
  }


  function hide(el) {
    $(el).attr('data-hidden', true).hide();
  }


  function show(el) {
    $(el).removeAttr('data-hidden').show();
  }


  function escapeRegExp(str) {
    return str.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
  }
});
</script>
