<div>
  <h3 class="page-header">
    User sends in message
    <button class="close" on-click="close()">&times</button>
  </h3>

  <div class="nm-form">
    <div class="nm-rows">
      <div class="nm-row">
        <div class="nm-cell nm-cell-heading">
          <label>Channels</label>
        </div>
      </div>

      {{#channels}}
      <div class="nm-row">
        <div class="nm-cell">
          <span class="nm-static-input">{{name}}</span>
        </div>

        <div class="pull-right btn-group btn-group-sm nm-row-actions">
          <button class="btn btn-default" on-click="remove(id)">Remove</button>
        </div>
      </div>
      {{/channels}}

      <div class="nm-row">
        <div class="nm-cell nm-placeholder-col {{^channels.length}}is-incomplete{{/channels.length}}" on-click="choose()">
          <span class="glyphicon glyphicon-chevron-right pull-right"></span>
          <span class="nm-static-input nm-static-input-placeholder">+ Add a channel</span>
        </div>
      </div>

      <div class="nm-row">
        <div class="nm-cell">
          <label class="{{^text}}nm-unused{{/text}}">
            Only match the following terms (separate terms with a comma)
          </label>

          <input type="text" value="{{text}}">
        </div>
      </div>
    </div>
  </div>
  <br/>

  <hr class="nm-divider">

  <button type="button" class="btn btn-default pull-left" on-click="close()">Save and close <span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
