<div>
  <h3 class="page-header">
    User sends in message
    <button class="close" on-click="close()">&times</button>
  </h3>

  <div class="grid-form">
    <div data-row-span="1" class="nm-heading-row">
      <div data-field-span="1">
        <label>Channels</label>
      </div>
    </div>

    {{#channels}}
    <div data-row-span="1">
      <div data-field-span="1">
        <span class="nm-static-input">{{name}}</span>
      </div>

      <div class="pull-right btn-group btn-group-sm nm-row-actions">
        <button class="btn btn-default" on-click="remove(id)">Remove</button>
      </div>
    </div>
    {{/channels}}

    <div data-row-span="1" class="{{^channels.length}}is-incomplete{{/channels.length}}">
      <div data-field-span="1" class="nm-placeholder-col" on-click="choose()">
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        <span class="nm-static-input nm-static-input-placeholder">+ Add a channel</span>
      </div>
    </div>

    <div data-row-span="1">
      <div data-field-span="1">
        <label class="{{^text}}nm-unused{{/text}}">
          Only match the following terms (separate terms with a comma)
        </label>

        <input type="text" value="{{text}}">
      </div>
    </div>
  </div>
  <br/>

  <hr class="nm-divider">

  <button type="button" class="btn btn-default pull-left" on-click="close()">Save and close <span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
