<div>
  <h4 class="page-header">
    User sends in message
    <button class="close" on-click="close()">&times</button>
  </h4>

  <label>Channels</label>
  <div class="list-group">
    {{#channels}}
    <div class="list-group-item nm-list-group-item-drawer">
      <div class="btn-group btn-group-sm pull-right">
        <button on-click="remove(id)" class="btn btn-default">Remove</button>
      </div>

      <p>
        {{name}}
      </p>
    </div>
    {{/channels}}

    <a class="list-group-item nm-list-group-item-drawer" href="#" on-click="onChooseClick(event)">
      + Add a channel
    </a>
  </div>
  <br/>

  <div class="grid-form">
    <fieldset>
      <div data-row-span="3">
        <div data-field-span="3">
          <label {{^useAnswerSaving}}class="nm-unused"{{/useAnswerSaving}}>
            Only match the following terms (separate terms with a ',')
          </label>

          <input type="text" value="{{text}}">
        </div>
      </div>
    </fieldset>
  </div>
  <br/>

  <hr class="nm-divider">

  <button type="button" class="btn btn-default pull-left" on-click="close()">Save and close <span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
