<div>
  {{>header {title: "Menu"}}}

  <div class="list-group nm-menu-actions">
    <a class="list-group-item nm-list-group-item-drawer" href="#">
      <span class="glyphicon glyphicon-chevron-right pull-right"></span>
      Change campaign
    </a>

    <a class="list-group-item nm-list-group-item-drawer" href="#" on-click="manageLanguages()">
      <span class="glyphicon glyphicon-chevron-right pull-right"></span>
      Manage languages
    </a>

    <a class="list-group-item nm-list-group-item-drawer {{#languages.length < 2}}is-disabled{{/}}" on-click="showLanguage()" href="#">
      <span class="glyphicon glyphicon-chevron-right pull-right"></span>
      View content for a language
    </a>
  </div>
</div>
