<div>
  <p class="nm-block-title">Ask and provide choices</p>

  <form class="grid-form">
      <fieldset>
          <div data-row-span="3">
              <div data-field-span="3">
                  <label>Question</label>
                  <textarea value="{{text}}"></textarea>
              </div>
          </div>

          {{#allChoices:i}}
          <div data-row-span="3">
              <div data-field-span="3">
                <input type="text"
                value="{{i + 1}}. {{text}}"
                {{# i < allChoices.length - 1}}
                class="nm-choice"
                {{/}}

                {{# i === allChoices.length - 1}}
                class="nm-choice-placeholder"
                {{/}} on-keyup="onChoiceKeyDown(event, i)">
              </div>
          </div>
          {{/allChoices}}
      </fieldset>
  </form>

  <br/>

  <button type="button" class="btn btn-default pull-left" on-click="close()">Save and close</button>
</div>
