<div>
  <h3 class="page-header">
    Multiple Choice Question
    <button class="close" on-click="close()">&times</button>
  </h3>

  <div class="nm-form">
    <div class="nm-rows">
      <div class="nm-row">
        <div class="nm-cell {{^text}}is-incomplete{{/text}}">
          <label>Question</label>
          <textarea value="{{text}}"></textarea>
        </div>

        <div class="btn-group btn-group-xs nm-content-actions">
          <button class="btn btn-default nm-placeholder" on-click="insertUserField()">Insert user field</button>
        </div>
      </div>
    </div>

    <div class="nm-rows">
      <div class="nm-row">
        <div class="nm-cell nm-cell-heading nm-cell-{{choiceSpan}}">
          <label>Choices</label>
        </div>

        {{#useAnswerSaving}}
        <div class="nm-cell nm-cell-heading nm-cell-9 nm-hide-small">
          <label>Save as</label>
        </div>
        {{/useAnswerSaving}}

        <div class="nm-cell nm-cell-6 nm-cell-noborder nm-hide-small"></div>
      </div>

      {{#allChoices:i}}
      <div class="nm-row">
        <div class="nm-cell {{# i === allChoices.length - 1}}nm-choice-placeholder{{/}} nm-cell-{{choiceSpan}}">
          <div class="nm-prefixed-input">
            <span>{{i + 1}}.&nbsp</span>

            <input
            type="text"
            value="{{text}}"
            on-keyup="onChoiceKeyDown(i)">
          </div>

          {{#route}}
          <div>
            &nbsp↳ <a href="#" on-click="onRouteClick(event, id)">{{getSequenceName(route)}}</a>
          </div>
          {{/route}}
        </div>

        {{#useAnswerSaving}}
        <div class="nm-cell nm-cell-9">
          <label class="nm-small-only">Save as</label>

          <input type="text"
          {{#.saveAs}}
          value="{{.saveAs}}"
          {{/.saveAs}}

          {{^.saveAs}}
          value="{{.text}} "
          {{/.saveAs}}
          >
        </div>
        {{/useAnswerSaving}}

        <button class="nm-cell nm-cell-btn nm-cell-3 btn {{# i === allChoices.length - 1}}disabled{{/}}" on-click="setRoute(id)">
          {{^route}}
          Route
          {{/route}}

          {{#route}}
          Edit Route
          {{/route}}
        </button>

        <button class="nm-cell nm-cell-btn nm-cell-3 btn {{# i === allChoices.length - 1}}disabled{{/}}" on-click="removeChoice(id)">Remove</button>
      {{/allChoices}}
    </div>

    <div class="nm-rows">
      <div class="nm-row">
        <div class="nm-cell">
          <label {{^useAnswerSaving}}class="is-unused"{{/useAnswerSaving}}>
            Save answer as (optional)
          </label>

          <input type="text" value="{{saveAs}}">
        </div>
      </div>
    </div>
  </div>

  <br/>

  <hr class="nm-divider">

  <button type="button" class="btn btn-default pull-left" on-click="close()">Save and close <span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
