<div>
  <h4 class="page-header">
    Multiple Choice
    <button class="close" on-click="close()">&times</button>
  </h4>

  <div class="grid-form">
    <fieldset>
      <div data-row-span="1" class="{{^text}}is-incomplete{{/text}}">
        <div data-field-span="1">
          <label>Question</label>
          <textarea value="{{text}}"></textarea>
        </div>

        <div class="btn-group btn-group-xs nm-content-actions">
          <button class="btn btn-default nm-placeholder" on-click="insertUserField()">Insert user field</button>
        </div>
      </div>

      <div data-row-span="2" class="nm-heading-row">
        <div data-field-span="{{2 - useAnswerSaving }}">
          <label>Choices</label>
        </div>

        {{#useAnswerSaving}}
        <div data-field-span="1">
          <label>Save as</label>
        </div>
        {{/useAnswerSaving}}
      </div>

      {{#allChoices:i}}
      <div data-row-span="2" class="nm-choice-row {{# i === 0 }}nm-choice-row-first{{/}}">
        <div
          data-field-span="{{2 - useAnswerSaving }}"
          class="nm-choice {{# i === allChoices.length - 1}}nm-choice-placeholder{{/}}"
          >

          <div class="nm-choice-text">
            <span class="nm-input-prefix">{{i + 1}}.&nbsp</span>

            <input
            type="text"
            value="{{text}}"
            on-keyup="onChoiceKeyDown(i)">
          </div>

          {{#route}}
          <div>
            &nbsp↳ <a href="#" on-click="onRouteClick(event, id)">{{getSequenceName(route)}}</a>
            <div class="btn-group btn-group-xs">
              <button class="btn btn-default" on-click="setRoute(id)">Change</button>
              <button class="btn btn-default" on-click="removeRoute(id)">Remove</button>
            </div>
          </div>
          {{/route}}
        </div>

        {{#useAnswerSaving}}
        <div data-field-span="1">
          <input type="text"
          {{#.saveAs}}
          value="{{.saveAs}}"
          {{/.saveAs}}

          {{^.saveAs}}
          value="{{.text}} "
          {{/.saveAs}}
          >
        </div>
        {{/useAnswerSaving}}

        <div class="btn-group btn-group-xs nm-row-actions">
          {{^route}}
          <button class="btn btn-default" on-click="setRoute(id)">↳ Route</button>
          {{/route}}

          <button class="btn btn-default">Remove</button>
        </div>
      </div>
      {{/allChoices}}

      <div data-row-span="3">
        <div data-field-span="3">
          <label {{^useAnswerSaving}}class="nm-unused"{{/useAnswerSaving}}>
            Save answer as (optional)
          </label>

          <input type="text" value="{{saveAs}}">
        </div>
      </div>
    </fieldset>
  </div>

  <br/>

  <hr class="nm-divider">

  <button type="button" class="btn btn-default pull-left" on-click="close()">Save and close <span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
