<div class="nm-block panel panel-default">
  <div class="panel-body">
    <div class="btn-group btn-group-sm pull-right">
      <button class="btn btn-default nm-block-action nm-block-edit" on-click="edit()">Edit</button>
      <button class="btn btn-default nm-block-action" on-click="destroy()">Remove</button>
    </div>
    <p class="nm-block-title">Multiple Choice</p>

    <br/>
    <div class="list-group nm-preview-list">
      <div class="list-group-item nm-preview-list-item">
        {{#text}}<p>{{text}}</p>{{/text}}
        {{^text}}<p><i>No content</i></p>{{/text}}
      </div>

      {{#choices:i}}
        {{#route}}
        <a class="list-group-item nm-preview-list-item {{#activeBlockItemId === id}}active{{/}}" on-click="onChoiceClick(event, id)" href="#">
          <span class="nm-preview-arrow glyphicon glyphicon-menu-right pull-right"></span>

          <p>{{i + 1}}. {{text}}</p>

          <p>&nbsp↳ {{getSequenceName(route)}}</p>
        </a>
        {{/route}}

        {{^route}}
        <div class="list-group-item nm-preview-list-item"href="#">
          <p>{{i + 1}}. {{text}}</p>
        </div>
        {{/route}}
      {{/choices}}
    </div>
  </div>
</div>
