<div class="nm-block panel panel-default">
  {{# mode === 'edit' }}
  <div class="panel-body">
    <button type="button" class="close" on-click="destroy()"><span>&times;</span></button>
    <p class="nm-block-title">Ask and provide choices</p>

    <div class="form-group">
      <textarea class="form-control ask-text" rows="3" value="{{text}}"></textarea>
    </div>

    {{#allChoices:i}}
    <div class="form-group nm-choice">
      <span>{{i + 1}}.&nbsp</span>
      <input type="text" class="form-control" value="{{text}}" {{# i === allChoices.length - 1}}placeholder="Add a new choice"{{/}} on-keyup="onChoiceKeyDown(i)">
    </div>
    {{/allChoices}}
  </div>

  <ul class="list-group">
    {{#blocks}}
    <li class="list-group-item">
    {{>blocks}}
    </li>
    {{/blocks}}

    <li class="list-group-item">
    <button class="btn btn-default btn-block nm-placeholder" on-click="addBlock()">+</button>
    </li>

    <li class="list-group-item">
    <button class="btn btn-default" on-click="save()">Save</button>
    </li>
  </ul>
  {{/}}

  {{# mode === 'preview' }}
  <div class="panel-body">
    <div class="btn-group btn-group-sm pull-right">
      <button class="btn btn-default" on-click="onEdit(event)">Edit</button>
    </div>
    <p class="nm-block-title">Ask and provide choices</p>

    {{#text}}<p>{{text}}</p>{{/text}}
    {{^text}}<p><i>No content</i></p>{{/text}}

    <ol>
      {{#choices}}
      <li>{{text}}</li>
      {{/choices}}
    </ol>
  </div>

  <ul class="list-group">
    {{#blocks}}
    <li class="list-group-item">
    {{>blocks}}
    </li>
    {{/blocks}}
  </ul>
  {{/}}
</div>
