<ol class="breadcrumb">
  <li><a href="/numi-prototypes/">Home</a></li>
  <li><a href="/numi-prototypes/collections/{{collection.id}}/edit">{{collection.name}}</a></li>
  <li class="active">Content Library</li>
</ol>

<h1 class="page-header">Content Library</h1>

<div class="panel-group" id="accordionfilters" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingfilters">
          <h2 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{id}}" aria-expanded="true" aria-controls="collapsefilters">
              Placeholders
            </a>
          </h2>
      </div>
      <div id="collapsefilters" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingfilters">
        <div class="panel-body">
          <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p><strong>Placeholders</strong> are blocks of dynamically generated content that you can use inside an <strong>Interaction</strong> block.</p>
            <p>Use them by putting their keyword inside square brackets like this: <code>[keyword]</code></p>
          </div>

          
          {{#placeholders}}
          <hr />
          <button class="btn btn-default btn-library" on-click="addPlaceholder(this)" style="text-align: left;">{{name}}</button>
          <br />
          <p><strong>You see:</strong></p>
          <p><code>[{{name}}]</code></p>
          <p><strong>The user sees:</strong></p>
          <p>{{helptext}}</p>
            <code style="white-space: pre;">
            {{#exampletext}}
              {{.}}<br />
            {{/#exampletext}}
            </code>
          {{/placeholders}}
        </div>
      </div>
  </div>
</div>
