<div class="nm-container nm-container-dashboard">
  <div class="nm-head nm-head-dashboard">
    <ol class="breadcrumb">
      <li><a href="/numi-prototypes/">Home</a></li>
    </ol>
  </div>

  <div class="nm-body nm-body-dashboard">
    <h3>
      <small>Campaign</small>
      <br>
      MomConnect
    </h3>

    <div class="nm-dashboard-actions">
      <div class="btn-group pull-right">
        <button class="btn btn-default nm-placeholder nm-placeholder-default" on-click="createDialogue()">+ Add dialogue</button>
        <button class="btn btn-default" on-click="confirmPublish()" {{^hasUnpublishedChanges}}disabled{{/hajUnpublishedChanges}}>
          {{#publishCount === 0}}Go live{{/}}
          {{#publishCount > 0}}Make changes live{{/}}
        </button>
      </div>
    </div>
    <br>

    <div class="list-group nm-dashboard-dialogue-list">
      {{#dialogues.length}}
      <h4>Dialogues</h4>
      {{/dialogues}}

      {{#dialogues}}
      <div class="list-group-item nm-dashboard-dialogue-item">
        <a class="list-group-item-heading nm-dashboard-dialogue-header" href="./dialogues/{{id}}">
          {{name}}
        </a>

        <div class="nm-dashboard-dialogue-body">
          <div class="btn-group pull-right">
            <button class="btn btn-default">
              Download <span class="glyphicon glyphicon-chevron-down"></span>
            </button>

            <button class="btn btn-default">
              Archive
            </button>
          </div>

          {{#lastEdit}}
          <p>Last <strong>edited</strong> on {{lastEdit}} by you</p>
          {{/lastEdit}}

          {{#hasUnpublishedChanges}}
          <p class="label label-warning">Changes not live yet</p>
          {{/hasUnpublishedChanges}}
        </div>
      </div>
      {{/dialogues}}
</div>
