<div class="nm-container">
  <div class="nm-head">
    <ol class="breadcrumb">
      <li><a href="/numi-prototypes/">Home</a></li>
    </ol>
  </div>

  <div class="nm-body nm-body-dashboard">
    <div class="nm-dashboard-actions clearfix">
      <div class="btn-group pull-right">
        <button class="btn btn-default nm-placeholder nm-placeholder-default">+ Add dialogue</button>
      </div>
    </div>

    <div class="list-group nm-dashboard-dialogue-list">
      {{#dialogues}}
      <div class="list-group-item nm-dashboard-dialogue-item">
        <a class="list-group-item-heading nm-dashboard-dialogue-header" href="./dialogues/{{id}}">
          {{name}}
        </a>

        <div class="nm-dashboard-dialogue-body">
          <div class="btn-group pull-right">
            <button class="btn btn-default">
              Download <span class="glyphicon glyphicon-chevron-down"></span>
            </button>

            <button class="btn btn-default">
              Publish
            </button>

            <button class="btn btn-default">
              <span class="glyphicon glyphicon-trash"></span> Archive
            </button>
          </div>

          {{#lastEdit}}
          <p><strong>Edited</strong> on {{lastEdit}} by you</p>
          {{/lastEdit}}

          {{#hasUnpublishedChanges}}
            <p class="label label-warning">Has unpublished changes</p>
          {{/hasUnpublishedChanges}}
        </div>
      </div>
      {{/dialogues}}
</div>
