<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>


<h1 class="page-header">Collections</h1>

{{^collections}}
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <p><strong>Collections</strong> are groups of content: combine them to make <strong>Campaigns</strong>.</p>
  <p>Add a collection to get started.</p>
  </div>
{{/collections}}

{{#collections}}
<div class="panel panel-default text-left">
  {{#eventPreview}}
  <div class="panel-heading">{{eventPreview}}</div>      
  {{/eventPreview}}
  <a href="./collections/{{id}}/edit" class="btn btn-link btn-block">{{name}}</a>
</div> 
{{/collections}}

<button class="btn btn-default btn-block nm-placeholder" on-click="newCollection()">+ Add collection</button>
