<ol class="breadcrumb">
  <li><a href="/numi-prototypes/">Home</a></li>
  <li><a href="/numi-prototypes/{{parent.type}}/{{parent.id}}">{{parent.type}}: {{parent.name}}</a></li>
  <li class="active">Choose filter</li>
</ol>

<h1 class="page-header">Choose filter</h1>

<div class="list-group">
  {{#filters}}
  <button type="submit" class="btn btn-default btn-block" on-click="choose(this)">{{name}}</button>
  {{/filters}}
</div>

<button class="btn btn-default btn-block nm-placeholder" on-click="newFilter()">+ Add filter</button>
