<div>
  <h4 class="page-header">
    Question
    <button class="close" on-click="close()">&times</button>
  </h4>

  <div class="grid-form">
    <fieldset>
      <div data-row-span="3">
        <div data-field-span="3" class="nm-content">
          <label>Question</label>

          <textarea value="{{text}}">
          </textarea>
        </div>

        <div class="btn-group btn-group-xs nm-content-actions">
          <button class="btn btn-default nm-placeholder" on-click="insertUserField()">Insert user field</button>
        </div>
      </div>

      <div data-row-span="3">
        <div data-field-span="3">
          <label {{^useAnswerSaving}}class="nm-unused"{{/useAnswerSaving}}>
            Save answer as (optional)
          </label>

          <input type="text" value="{{saveAs}}">
        </div>
      </div>
    </fieldset>
  </div>

  <br/>

  <hr class="nm-divider">

  <button type="button" class="btn btn-default pull-left" on-click="close()">Save and close <span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
