<div class="panel panel-default">
  <div class="panel-body">
    <p class="nm-block-title">Ask</p>

    <div class="form-group">
      <label for="ask-text">Text</label>
      <textarea class="form-control" id="ask-text" name="ask-text"></textarea>
    </div>

    <div class="form-group">
      <label for="ask-name">Question name</label>
        <input type="text" id="ask-text" name="ask-text" class="form-control" />
    </div>

    <!-- The edit section needs a Save and Cancel button. Not sure where this should live, though. -->
<!--     <div class="text-center">
      <button type="submit" class="btn btn-default">Save</button> <button type="button" class="btn btn-link">Cancel</button>
    </div> -->
    
  </div>
</div>
