<div>
  {{>header {title: "Route to another sequence"}}}

  <div class="panel panel-default">
    <div class="panel-heading nm-panel-heading-drawer">
      Route to a new sequence
    </div>

    <div class="panel-body nm-panel-body-drawer">
      <div class="nm-form">
        <div class="nm-rows">
          <div class="nm-row">
            <div class="nm-cell">
              <label>Name of the new sequence</label>
              <input type="text" value="{{newSequenceName}}">
            </div>
          </div>
        </div>
      </div>

      <br>
      <button class="btn btn-default" on-click="addSequence()">Add</button>
    </div>

    <div class="list-group">
      <a class="list-group-item nm-list-group-item-drawer" href="#" on-click="chooseSequence(event)">Route to a sequence in this dialogue</a>
      <a class="list-group-item nm-list-group-item-drawer" href="#" on-click="chooseDialogue(event)">Route to the starting sequence of another dialogue</a>
    </div>
  </div>
</div>
