<div>
  <h3 class="page-header">
    End Dialogue
    <button class="close" on-click="close()">&times</button>
  </h3>

  <div class="nm-form">
    <div class="nm-rows">
      <div class="nm-row">
        <div class="nm-cell {{^text}}is-incomplete{{/text}}">
          <label>Content</label>
          <textarea value="{{text}}"></textarea>
        </div>

        <div class="btn-group btn-group-xs nm-content-actions">
          <button class="btn btn-default nm-placeholder" on-click="insertUserField()">Insert user field</button>
        </div>
      </div>
    </div>
  </div>

  <br/>

  <hr class="nm-divider">

  <button type="button" class="btn btn-default pull-left" on-click="close()">Save and close <span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
