<div class="nm-block panel panel-default">
  <div class="panel-body">
    <div class="btn-group btn-group-sm pull-right">
      <button class="btn btn-default nm-block-action nm-block-edit" on-click="edit()">Edit</button>
      <button class="btn btn-default nm-block-action" on-click="destroy()">Remove</button>
    </div>
    <p class="nm-block-title">Question</p>

    <br/>
    <div class="list-group nm-preview-list">
      <div class="list-group-item nm-preview-list-item">
        {{#text}}<p>{{text}}</p>{{/text}}
        {{^text}}<p><i>No content</i></p>{{/text}}
      </div>
    </div>
  </div>

  <div class="panel-footer"><p class="text-info">Session ends</p></div>
</div>
