<div>
  <h4 class="page-header">
    Calculate expected due date from weeks
    <button class="close" on-click="close()">&times</button>
  </h4>

  <div class="grid-form">
    <fieldset>
      <div data-row-span="3" class="{{^inputFieldId}}is-incomplete{{/inputFieldId}}">
        <div
          data-field-span="3"
          class="{{^inputFieldId}}nm-placeholder-col{{/inputFieldId}}"
          on-click="choose(inputFieldId)">

          <label>User field to use as input</label>

          {{^inputFieldId}}
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            <span class="nm-static-input nm-static-input-placeholder">Choose a user field</span>
          {{/inputFieldId}}

          {{#inputFieldId}}
          <span class="nm-static-input">{{inputFieldName}}</span>
          {{/inputFieldName}}

        </div>

        {{#inputFieldId}}
        <div class="pull-right btn-group btn-group-sm nm-row-actions">
          <button class="btn btn-default" on-click="choose()">Change</button>
          <button class="btn btn-default" on-click="remove()">Remove</button>
        </div>
        {{/inputFieldId}}
      </div>

      <div data-row-span="3" class="{{^saveAs}}is-incomplete{{/saveAs}}">
        <div data-field-span="3">
          <label>
            Save result as
          </label>

          <input type="text" value="{{saveAs}}">
        </div>
      </div>
    </fieldset>
  </div>

  <br/>

  <hr class="nm-divider">

  <button type="button" class="btn btn-default pull-left" on-click="close()">Save and close <span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
