<div class="nm-block panel panel-default">
  <div class="panel-body">
    <div class="btn-group btn-group-sm pull-right">
      <button class="btn btn-default nm-block-action nm-block-edit" on-click="edit()">Edit</button>
      <button class="btn btn-default nm-block-action" on-click="destroy()">Remove</button>
    </div>
    <p class="nm-block-title">Calculate expected due date<br/>from weeks</p>

    <div class="list-group nm-preview-list">
      <div class="list-group-item nm-preview-list-item">
        <div class="list-group-item-text">
          {{#inputFieldName}}
          User field <strong>{{inputFieldName}}</strong> used as input
          {{/inputFieldName}}

          {{^inputFieldName}}
          <p class="nm-preview-annotation">
            No input user field given
          </p>
          {{/inputFieldName}}
        </div>
      </div>

      <div class="list-group-item nm-preview-list-item">
        <div class="list-group-item-text">
          {{#saveAs}}
          Result saved as <strong>{{saveAs}}</strong>
          {{/saveAs}}

          {{^saveAs}}
          <p class="nm-preview-annotation">
            No result field given
          </p>
          {{/saveAs}}
        </div>
      </div>
    </div>
  </div>
</div>
