<div class="panel panel-default panel-highlighted">
  <div class="panel-body">
    <button type="button" class="close" on-click="destroy()"><span>&times;</span></button>
    <p class="nm-block-title">With the user field </p>

    {{#inputValue}}
    <button class="btn btn-default btn-block" on-click="chooseValue()">{{inputValue}}</button>
    {{/inputValue}}

    {{^inputValue}}
    <button class="btn btn-default btn-block nm-placeholder" on-click="chooseValue()">Choose user field</button>
    {{/inputValue}}
    
    <br/>

    <p class="nm-block-title">calculate weeks until due date. Save output as user field</p>

    <div class="form-group">
      <input class="value" type="text" class="form-control" on-keyup="valueChange" />
    </div>
  </div>
</div>
