<div class="panel panel-default panel-highlighted">
  <div class="panel-heading">
    <button type="button" class="close" on-click="destroy()"><span>&times;</span></button>
    <strong>Calculate weeks until due</strong>
  </div>
  <div class="panel-body">
    <p class="nm-block-title" style="margin-bottom: 0;">Use this as the month:</p>

    {{#inputValue}}
    <button class="btn btn-default btn-block" on-click="chooseValue()">{{inputValue}}</button>
    {{/inputValue}}

    {{^inputValue}}
    <button class="btn btn-default btn-block nm-placeholder" on-click="chooseValue()">Choose user field</button>
    {{/inputValue}}
    
    <br />

    <p class="nm-block-title" style="margin-bottom: 0;">Save calculation result as:</p>

    <div class="form-group">
      <input class="value" type="text" class="form-control" on-keyup="valueChange" />
    </div>
  </div>
</div>
