<h4 class="page-header">
  Block Library
  <button class="close" on-click="close()">&times</button>
</h4>

<div class="panel panel-default nm-pallet">
  <div class="panel-heading nm-panel-heading-drawer">
    <span class="panel-title">Recently Used</span>
  </div>

  <div class="panel-body nm-panel-body-drawer">
    {{#recent}}
      <div class="btn-group nm-library-block">
        <button class="btn btn-default nm-placeholder nm-placeholder-block" on-click="add(type)">{{name}}</button>
      </div>
    {{/recent}}
  </div>
</div>

<div class="nm-block-pallete-menu">
  <ul class="nav nav-pills nav-stacked">
    {{#palletes}}
    <li class="{{#activePalleteKey === key}}active{{/}}">
      <a href="#" on-click="setActivePallete(event, key)">{{name}}</a>
    </li>
    {{/pallete}}
  </ul>
</div>

<div class="nm-block-pallete">
  {{#activePallete}}
  <div class="list-group">
    {{#categories}}
    <div class="list-group-item">
      <div class="list-group-item-heading">{{name}}</div>


      <div class="list-body-item-text">
        {{#blocks}}
        <div class="collapse alert alert-info alert-dismissible" id="{{type}}-help" data-toggle="collapse" data-target="#{{type}}-help">
          <button type="button" class="close" aria-label="Close"><span>&times;</span></button>
          <p>{{helptext}}</p>
        </div>
        {{/blocks}}

        {{#blocks}}
        <div class="btn-group nm-library-block">
          <button class="btn btn-default nm-placeholder nm-placeholder-block" on-click="add(type)">{{name}}</button>
          <button type="button" class="btn btn-default nm-placeholder nm-placeholder-block" data-toggle="collapse" data-target="#{{type}}-help"><span class="glyphicon glyphicon-question-sign"></span></button>
        </div>
        {{/blocks}}
      </div>
    </div>
    {{/categories}}
  </div>
  {{/activePallete}}
</div>
