<h4 class="page-header">Block Library</h4>

<div class="panel panel-default nm-pallet nm-block-category-recent">
  <div class="panel-heading nm-block-category-heading">
    <span class="panel-title">Recently Used</span>
  </div>

  <div class="panel-body nm-panel-body-drawer">
    {{#recent}}
      <!-- TODO something better-->
      <button class="btn btn-default nm-placeholder nm-placeholder-block" on-click="add(type)">{{name}}</button>
    {{/recent}}
  </div>
</div>

<div class="nm-block-pallete-menu">
  <ul class="nav nav-pills nav-stacked">
    {{#palletes}}
    <li class="{{#activePalleteKey === key}}active{{/}}">
      <a href="#" on-click="setActivePallete(event, key)">{{name}}</a>
    </li>
    {{/pallete}}
  </ul>
</div>

<div class="nm-block-pallete">
  {{#activePallete}}
  <div class="list-group">
    {{#categories}}
    <div class="list-group-item">
      <div class="list-group-item-heading">{{name}}</div>

      <div class="list-body-item-text">
        {{#blocks}}
        <!-- TODO something better-->
        <button class="btn btn-default nm-placeholder nm-placeholder-block" on-click="add(type)">{{name}}</button>
        {{/blocks}}
      </div>
    </div>
    {{/categories}}
  </div>
  {{/activePallete}}
</div>
