<div class="panel panel-default panel-highlighted">
  <div class="panel-body">
    <button type="button" class="close" on-click="destroy()"><span>&times;</span></button>

    <p class="nm-block-title">Validate Clinic code</p>
      
    <div class="form-group">
      <ul class="nav nav-stacked">
        <li>
          <label for="choice-text-1">Validation Pass</label>
          {{#passCollection}}
          <button class="btn btn-default btn-block" on-click="choosePassCollection()">{{name}}</button>
          <p class="text-right"><a href="../../collections/{{id}}/edit">View collection</a></p>
          {{/passCollection}}

          {{^passCollection}}
          <button class="btn btn-default btn-block nm-placeholder" on-click="choosePassCollection()">Choose collection</button>
          {{/passCollection}}
        </li>
        <li>
          <label for="choice-text-1">Validation Fail</label>
          {{#failCollection}}
          <button class="btn btn-default btn-block" on-click="chooseFailCollection()">{{name}}</button>
          <p class="text-right"><a href="../../collections/{{id}}/edit">View collection</a></p>
          {{/failCollection}}

          {{^failCollection}}
          <button class="btn btn-default btn-block nm-placeholder" on-click="chooseFailCollection()">Choose collection</button>
          {{/failCollection}}
        </li>
        
      </ul>
    </div>
  </div>
</div>
