<div class="panel panel-default custom-component">
  <div class="panel-body">
    <button type="button" class="close" on-click="destroy()"><span>&times;</span></button>

    <p class="nm-block-title">Validate Clinic code</p>
      
    <div class="form-group">
      <form>
        <ul class="nav nav-stacked">
          <li>
            <label for="choice-text-1">Validation Pass</label>
            <button class="btn btn-default btn-block nm-placeholder">Links to ▶</button>
          </li>
          <li>
            <label for="choice-text-1">Validation Fail</label>
            <button class="btn btn-default btn-block nm-placeholder">Links to ▶</button>
          </li>
          
        </ul>
      </form>
    </div>
  </div>
</div>
