<div class="panel panel-default">
  <div class="panel-body">
    <button type="button" class="close" on-click="destroy()"><span>&times;</span></button>
    {{#value}}
    <button class="btn btn-default btn-block" on-click="chooseValue()">{{value}}</button>
    {{/value}}

    {{^value}}
    <button class="btn btn-default btn-block nm-placeholder" on-click="chooseValue()">Choose user field</button>
    {{/value}}

    <br/>
    <p class="nm-block-title">greater than</p>

    <input type="number" class="form-control">
  </div>
</div>
