{{#type == 'comparison'}}
<comparison id="{{id}}" a="{{a}}" b="{{b}}" dataType="{{dataType}}" operator="{{operator}}" operatorSpan="{{operatorSpan}}"></comparison>
{{/}}

{{#type == 'group'}}
<group id="{{id}}" conditionSet="{{conditionSet}}"></group>
{{/}}


{{#type == 'haslabel'}}
<haslabel label="{{label}}"></haslabel>
{{/}}


{{#type == 'nothaslabel'}}
<nothaslabel label="{{label}}"></nothaslabel>
{{/}}


{{#type == 'datepast'}}
<datepast label="{{fieldId}}"></datepast>
{{/}}


{{#type == 'datefuture'}}
<datefuture label="{{fieldId}}"></datefuture>
{{/}}
