<ol class="breadcrumb">
  <li><a href="/numi-prototypes/">Home</a></li>
  <li class="active">{{name}}</li>
</ol>

<div class="nm-name">
  <h1 class="page-header" on-click="rename()">
    <small>Collection</small>
    <br/>
    {{ name }}
  </h1>
</div>

<div class="nm-rename well">
  <div class="form-group">
    <input class="nm-rename-value" type="text" value="{{ name }}" />
  </div>

  <button class="btn btn-sm btn-default" on-click="hideRename()">Save</button>
  <button class="btn btn-sm btn-link" on-click="cancelRename()">Cancel</button>
</div>

{{^blockSets}}
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <p>A <strong>Section</strong> is a group of content pieces.</p>
</div>
{{/blockSets}}

{{#blockSets}}
<div>
  {{# type === 'screen' }}
  <screen></screen>
  {{/}}

  {{# type === 'filter' }}
  <filter></filter>
  {{/}}
</div>
{{/blockSets}}

<button class="btn btn-default btn-block nm-placeholder" on-click="addScreen()">+ Add section</button>
<!-- TODO button for adding filters -->
