<ol class="breadcrumb">
  <li><a href="/numi-prototypes/">Home</a></li>
  <li class="active">{{name}}</li>
</ol>

<h1 class="page-header">
  <small>Collection</small>
  <br/>
  {{ name }}
</h1>

{{^blockSets}}
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <p>A <strong>Screen</strong> is a single piece of content that gets displayed to the user.</p>
  </div>
{{/blockSets}}

{{#blockSets}}
<div>
  {{# type === 'screen' }}
  <screen></screen>
  {{/}}

  {{# type === 'filter' }}
  <filter></filter>
  {{/}}
</div>
{{/blockSets}}

<button class="btn btn-default btn-block nm-placeholder" on-click="addScreen()">+ Add screen</button>
<!-- TODO button for adding filters -->
