<ol class="breadcrumb">
  <li><a href="/numi-prototypes/">Home</a></li>
  <li class="active">{{name}}</li>
</ol>

{{#prev}}
<a href="{{ href }}">Go back to {{name}}</a>
{{/prev}}

<div class="nm-name">
  <h1 class="page-header" on-click="rename()">
    <small>Collection</small>
    <br/>
    {{ name }}
  </h1>
</div>

<div class="nm-rename well">
  <div class="form-group">
    <h1 class="page-header" style="margin-bottom: 0; padding-bottom: 0;"><small>Collection</small></h1>
    <textarea class="nm-rename-value" value="{{ name }}"></textarea>
  </div>

  <button class="btn btn-sm btn-default" on-click="hideRename()">Save</button>
  <button class="btn btn-sm btn-link" on-click="cancelRename()">Cancel</button>
</div>

{{^blockSets}}
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <p>A <strong>Section</strong> is a group of content pieces.</p>
</div>
{{/blockSets}}

{{#blockSets:i}}
<!--
NOTE please don't remove this div, its needed for our duct-taped approach
to section removal.
-->
<div>
  {{# i > 0 }}
    {{#schedule}}
    <p class="text-right" style="clear: right;">Sent after <strong>{{ frequency * i }} {{ interval }}</strong>.</p>
    {{/schedule}}
  {{/}}

  {{# type === 'screen' }}
  <screen></screen>
  {{/}}

  {{# type === 'filter' }}
  <filter></filter>
  {{/}}
</div>
{{/blockSets}}

<button class="btn btn-default btn-block nm-placeholder" on-click="addScreen()">+ Add section</button>
<!-- TODO button for adding filters -->

<!-- if has event -->
<!-- if channel is ussd -->
<br />
<p class="nm-end-session-msg"><small>The USSD session will end after the last message.</small></p>
