<div class="popover left" style="left: 13em; top: 2em;">
  <div class="arrow"></div>
  <div class="popover-content">
    <p>Since the library is likely to get quite big (and can be scary at a first glace seeing everything), we use accordions to keep the screen tidy.</p>
  </div>
</div>

<ol class="breadcrumb">
  <li><a href="/numi-prototypes/">Home</a></li>
  <li><a href="/numi-prototypes/filters/{{filterId}}/edit">Filter: {{filterName}}</a></li>
  <li class="active">Condition Library</li>
</ol>

<h1 class="page-header">Condition Library</h1>

{{#types}}
<div class="panel-group" id="accordion{{name}}" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading{{name}}">
          <h2 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{name}}" aria-expanded="true" aria-controls="collapse{{name}}">
              {{title}}
            </a>
          </h2>
      </div>
      <div id="collapse{{name}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{name}}">
        <div class="panel-body">
          {{#blocks}}
          <button class="btn btn-default btn-library" on-click="addCondition(type)">{{title}}</button>
          {{/blocks}}
        </div>
      </div>
  </div>
</div>
{{/types}}

<div class="panel-group" id="accordionfilters" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingfilters">
          <h2 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{id}}" aria-expanded="true" aria-controls="collapsefilters">
              Filters
            </a>
          </h2>
      </div>
      <div id="collapsefilters" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfilters">
        <div class="panel-body">
          {{#filters}}
          <button class="btn btn-default btn-library" on-click="addFilter(this)">{{name}}</button>
          {{/filters}}

          <button class="btn btn-default btn-library nm-placeholder" on-click="newFilter()">+ Add filter</button>
        </div>
      </div>
  </div>
</div>
