{{# type === 'ask' }}
<ask text="{{text}}" saveAs="{{saveAs}}"></ask>
{{/}}

{{# type === 'askchoice' }}
<askchoice id="{{id}}" text="{{text}}" blocks="{{blocks}}" allChoices="{{allChoices}}" saveAs="{{saveAs}}"></askchoice>
{{/}}

{{# type === 'route' }}
<route id="{{id}}" seqId="{{seqId}}" itemId="{{itemId}}"></route>
{{/}}

{{# type === 'register' }}
<register fields="{{fields}}"></register>
{{/}}

{{# type === 'unsubscribe' }}
<unsubscribe fields="{{fields}}"></unsubscribe>
{{/}}

{{# type === 'optout' }}
<optout fields="{{fields}}"></optout>
{{/}}

{{# type === 'askcliniccode' }}
<askcliniccode text="{{text}}" invalidInputText="{{invalidInputText}}" saveAs="{{saveAs}}"></askcliniccode>
{{/}}

{{# type === 'end' }}
<end text="{{text}}"></end>
{{/}}

{{# type === 'userdialsin' }}
<userdialsin channelIds="{{channelIds}}"></userdialsin>
{{/}}

{{# type === 'usersendsmessage' }}
<usersendsmessage text="{{text}}" channelIds="{{channelIds}}"></usersendsmessage>
{{/}}

{{# type === 'shownext9months' }}
<shownext9months text="{{text}}" saveAs="{{saveAs}}" monthsBefore="{{monthsBefore}}"></shownext9months>
{{/}}

{{# type === 'calcweeks' }}
<calcweeks inputFieldId="{{inputFieldId}}" saveAs="{{saveAs}}"></calcweeks>
{{/}}

{{# type === 'annotation' }}
<annotation text="{{text}}"></annotation>
{{/}}
