{{# type === 'ask' }}
<ask text="{{text}}"></ask>
{{/}}

{{# type === 'askchoice' }}
<askchoice text="{{text}}"></askchoice>
{{/}}

{{# type === 'choice' }}
<choice></choice>
{{/}}

{{# type === 'end' }}
<end></end>
{{/}}

{{# type === 'send' }}
<send></send>
{{/}}

{{# type === 'saveas' }}
<saveas></saveas>
{{/}}

{{# type === 'label' }}
<lbl></lbl>
{{/}}

{{# type === 'rmlabel' }}
<rmlbl></rmlbl>
{{/}}

{{# type === 'userdialsin' }}
<userdialsin channel="{{channel}}"></userdialsin>
{{/}}

{{# type === 'usersendsmessage' }}
<usersendsmessage></usersendsmessage>
{{/}}

{{# type === 'scheduled' }}
<scheduled></scheduled>
{{/}}

{{# type === 'manual' }}
<manual></manual>
{{/}}

{{# type === 'validatecliniccode' }}
<validatecliniccode></validatecliniccode>
{{/}}

{{# type === 'shownext9months' }}
<shownext9months></shownext9months>
{{/}}

{{# type === 'standardmessageset' }}
<standardmessageset></standardmessageset>
{{/}}

{{# type === 'latermessageset' }}
<latermessageset></latermessageset>
{{/}}

{{# type === 'acceleratedmessageset' }}
<acceleratedmessageset></acceleratedmessageset>
{{/}}

{{# type === 'calcweeks' }}
<calcweeks></calcweeks>
{{/}}

{{# type === 'filter' }}
<filter filter='{{filter}}'></filter>
{{/}}
