<div class="nm-sequence-header">
  <div class="nm-sequence-title">
    <div class="nm-name" on-click="rename()">
      {{ name }}
    </div>

    <div class="nm-rename">
      <div class="form-group">
        <textarea class="nm-rename-value" value="{{name}}"></textarea>
      </div>

      <button class="btn btn-sm btn-default" on-click="hideRename()">Save</button>
      <button class="btn btn-sm btn-link" on-click="cancelRename()">Cancel</button>
    </div>
  </div>
</div>

<div class="nm-sequence-body">
  <div class="sortable-blocks sortable-blocks-ordered">
    {{#blocks:i}}
      <div class="nm-block-wrapper" data-id="{{id}}">
        {{>blocks}}
      </div>

      {{#i < blocks.length - 1 }}
      <div class="text-center">
        <span class="nm-block-separator glyphicon glyphicon-menu-down"></span>
      </div>
      {{/}}
    {{/blocks}}
  </div>
</div>

<div class="nm-sequence-footer">
  <button class="btn btn-default btn-block nm-placeholder" on-click="addBlock()">+</button>
</div>
