<div>
  <h4>
    <div class="nm-name" on-click="rename()">
      {{ name }}
    </div>

    <div class="nm-rename">
      <div class="form-group">
        <textarea class="nm-rename-value" value="{{name}}"></textarea>
      </div>

      <button class="btn btn-sm btn-default" on-click="hideRename()">Save</button>
      <button class="btn btn-sm btn-link" on-click="cancelRename()">Cancel</button>
    </div>
  </h4>

  <div class="sortable-blocks sortable-blocks-ordered">
    {{#blocks}}
      {{>blocks}}
    {{/blocks}}
  </div>

  <button class="btn btn-default btn-block nm-placeholder" on-click="addBlock()">+</button>
</div>
