<div>
  <h4 class="page-header">
    {{title}}
    <button class="close" on-click="close()">&times</button>
  </h4>

  <div class="panel panel-default">
    <div class="panel-heading nm-panel-heading-drawer">
      <span class="panel-title">User fields</span>
    </div>
    <div class="list-group">

    {{#parsedFields}}
      <div class="list-group-item">
        <div class="list-group-item-heading nm-type-heading">{{name}}</div>
        <div>
          {{#userField}}
          <div class="pull-right btn-group btn-group-sm">
            <button class="btn btn-default" on-click="choose(key)">Change</button>
            <button class="btn btn-default" on-click="remove(key)">Remove</button>
          </div>
          {{/userField}}

          {{#userField}}
          <p>
          {{#special}}<i>{{name}}</i>{{/special}}
          {{^special}}{{name}}{{/special}}
          </p>
          {{/userField}}

          {{^userField}}
          <button class="btn btn-default nm-placeholder" on-click="choose(key)">Choose user field</button>
          {{/userField}}
        </div>
      </div>
    {{/parsedFields}}
    </div>
  </div>

  <br/>

  <hr class="nm-divider">

  <button type="button" class="btn btn-default pull-left" on-click="close()">Save and close <span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
