<div>
  <h4 class="page-header">
    {{title}}
    <button class="close" on-click="close()">&times</button>
  </h4>

  <div class="grid-form">
    <fieldset>
      <div data-row-span="1" class="nm-heading-row">
        <div data-field-span="1">
          <label>User fields</label>
        </div>
      </div>

      {{#parsedFields}}
        {{^userField}}
        <div data-row-span="1">
          <div data-field-span="1" class="nm-placeholder-col" on-click="choose(key)">
            <label>{{name}}</label>
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            <span class="nm-static-input nm-static-input-placeholder">Choose a user field</span>
          </div>
        </div>
        {{/userField}}

        {{#userField}}
        <div data-row-span="1">
          <div data-field-span="1">
            <label>{{../name}}</label>

            <span class="nm-static-input">
              {{#special}}<i>{{name}}</i>{{/special}}
              {{^special}}{{name}}{{/special}}
            </span>
          </div>

          <div class="pull-right btn-group btn-group-sm nm-row-actions">
            <button class="btn btn-default" on-click="choose(key)">Change</button>
            <button class="btn btn-default" on-click="remove(key)">Remove</button>
          </div>
        </div>
        {{/userField}}
      {{/parsedFields}}
    </fieldset>
  </div>

  <hr class="nm-divider">

  <button type="button" class="btn btn-default pull-left" on-click="close()">Save and close <span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
