<div class="nm-block panel panel-default">
  <div class="panel-body">
    <div class="btn-group btn-group-sm pull-right">
      <button class="btn btn-default nm-block-action nm-block-edit" on-click="edit()">Edit</button>
      <button class="btn btn-default nm-block-action" on-click="destroy()">Remove</button>
    </div>
    <p class="nm-block-title">Calculate expected due date<br/>from month</p>

    <div class="list-group nm-preview-list">
      <div class="list-group-item nm-preview-list-item">
        <div class="list-group-item-text nm-preview-annotation">
          {{#inputFieldName}}
          User field <strong>{{inputFieldName}}</strong> used as input
          {{/inputFieldName}}

          {{^inputFieldName}}
          <i>
            No input user field given
          </i>
          {{/inputFieldName}}
        </div>
      </div>

      <div class="list-group-item nm-preview-list-item">
        <div class="list-group-item-text nm-preview-annotation">
          {{#saveAs}}
          Result saved as <strong>{{saveAs}}</strong>
          {{/saveAs}}

          {{^saveAs}}
          <i>
            No result field given
          </i>
          {{/saveAs}}
        </div>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    {{^isComplete}}
    <p class="label label-warning">Incomplete</p>
    {{/isComplete}}
  </div>
</div>
