{{#type == 'comparison'}}
<comparison id="{{id}}" a="{{a}}" b="{{b}}" dataType="{{dataType}}" operator="{{operator}}" operatorSpan="{{operatorSpan}}"></comparison>
{{/}}

{{#type == 'group'}}
<group id="{{id}}" conditionSet="{{conditionSet}}"></group>
{{/}}


{{#type == 'haslabel'}}
<haslabel id="{{id}}" label="{{label}}"></haslabel>
{{/}}


{{#type == 'nothaslabel'}}
<nothaslabel id="{{id}}" label="{{label}}"></nothaslabel>
{{/}}


{{#type == 'datepast'}}
<datepast id="{{id}}" fieldId="{{fieldId}}"></datepast>
{{/}}


{{#type == 'datefuture'}}
<datefuture id="{{id}}" fieldId="{{fieldId}}"></datefuture>
{{/}}
