{{^completeConditions}}
<i class="nm-preview-annotation">No conditions given</i>
{{/completeConditions}}

{{#completeConditions.length > 1}}
<div class="list-group-item nm-preview-list-item">
    {{#type === 'all'}}
    <i class="nm-preview-annotation">
      If the user matches <strong>all</strong> of the following:
    </i>
    {{/}}

    {{#type === 'any'}}
    <i class="nm-preview-annotation">
      If the user matches <strong>any</strong> of the following:
    </i>
    {{/}}
</div>
{{/}}

{{#completeConditions}}
<div class="list-group-item nm-preview-list-item">
  {{>conditions}}
</div>
{{/completeConditions}}
