<div class="panel panel-default panel-highlighted">
  <div class="panel-body">
    <button type="button" class="close" on-click="destroy()"><span>&times;</span></button>

    <p class="nm-block-title">Scheduled</p>
    <p>Move to the next <code>section</code> of the collection</p>

    <label for="scheduled-frequency">Every</label>
    <input type="number" value="{{ frequency }}" class="form-control" /><br />

    <div class="btn-group btn-group-justified" data-toggle="buttons">
      <label on-click="set('interval', 'days')"  class="btn btn-default active">
        <input type="radio" checked>
        Days
      </label>

      <label on-click="set('interval', 'weeks')" class="btn btn-default">
        <input type="radio">
        Weeks
      </label> 

      <label on-click="set('interval', 'months')" class="btn btn-default">
        <input type="radio">
        Months
      </label>
    </div>

</div>
