<div class="panel panel-default panel-highlighted">
  <div class="panel-body">
    <button type="button" class="close" on-click="destroy()"><span>&times;</span></button>

    <p class="nm-block-title">Scheduled</p>

    <p class="nm-block-title">Every</p>

    <input type="number" value="{{ frequency }}" class="form-control" />

    <div class="btn-group btn-group-justified" data-toggle="buttons">
      <label on-click="set('interval', 'day')"  class="btn btn-default active">
        <input type="radio" checked>
        Days
      </label>

      <label on-click="set('interval', 'week')" class="btn btn-default">
        <input type="radio">
        Weeks
      </label> 

      <label on-click="set('interval', 'month')" class="btn btn-default">
        <input type="radio">
        Months
      </label>
    </div>

    <p class="nm-block-title">Do the following</p>

    <div class="sortable-blocks">
      {{# blocks:i }}
      <p class="text-right" style="clear: right;">On <strong>{{ interval }} {{ frequency * (i + 1) }}</strong>.</p>

      <block></block>
      {{/ blocks }}

      <button class="btn btn-default btn-block nm-placeholder" on-click="addBlock()">+ Add block</button>
    </div>
</div>
