<div class="container nm-dialogue">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="/numi-prototypes/">Home</a></li>
        <li class="active">Dialogue: {{name}}</li>
      </ol>

      {{#prev}}
      <a href="{{ href }}">Go back to {{name}}</a>
      {{/prev}}

      <div class="nm-name">
        <h3 class="page-header" on-click="rename()">
          {{ name }}
        </h3>
      </div>

      <div class="nm-rename well">
        <div class="form-group">
          <h3>
            <textarea class="nm-rename-value" value="{{ name }}"></textarea>
          </h3>
        </div>

        <button class="btn btn-sm btn-default" on-click="hideRename()">Save</button>
        <button class="btn btn-sm btn-link" on-click="cancelRename()">Cancel</button>
      </div>

      <div class="row">
          {{#sequences}}
          <div class="col-md-4 nm-sequence-col">
            <sequence id="{{id}}" name="{{name}}" blocks="{{blocks}}"></sequence>
          </div>
          {{/sequences}}
      </div>
      <br/>
      <a class="btn btn-default" href="{{ backHref }}">Save and close</a>
    </div>
  </div>
</div>
