<div class="nm-container">
  <div class="nm-head">
    <div class="pull-right">
      <button class="btn btn-sm btn-default" on-click="showMenu()">
        Menu
      </button>

      <button class="btn btn-sm btn-default">
        Sarima
      </button>
    </div>

    <div class="nm-titles">
      <a class="nm-title" href="/numi-prototypes/">
        <small>Campaign</small>
        <div class="nm-title-text">
          {{campaignName}}
        </div>
      </a>

      <div class="nm-title-divider">
        <span class="glyphicon glyphicon-menu-right"></span>
      </div>

      <div class="nm-name nm-title nm-title-active" on-click="rename()">
        <small>Dialogue</small>
        <div class="nm-title-text">
          {{name}}
        </div>
      </div>

      <div class="nm-rename nm-title nm-title-active">
        <div class="well">
          <small>Dialogue</small>

          <div class="form-group">
            <textarea class="nm-rename-value" value="{{name}}"></textarea>
          </div>

          <button class="btn btn-sm btn-default" on-click="hideRename()">Save</button>
          <button class="btn btn-sm btn-link" on-click="cancelRename()">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div class="nm-body nm-body-dialogue">
   <div class="nm-sequences" style="width: {{sequenceChain.length * 50}}vw;">
     {{#sequenceChain}}
      <div class="nm-sequence-wrapper">
        <div class="nm-sequence">
          <seqsurrogate></seqsurrogate>
        </div>
      </div>
      {{/sequenceChain}}
   </div>
  </div>
</div>
