<div class="nm-container">
  <div class="nm-head">
    <div class="btn btn-sm btn-default pull-right">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Show menu
    </div>

    <div class="nm-titles">
      <div class="nm-title">
        <small>Campaign</small>
        {{campaignName}}
      </div>

      <div class="nm-title-divider">
        <span class="glyphicon glyphicon-menu-right"></span>
      </div>

      <div class="nm-title nm-title-active">
        <small>Dialogue</small>
        {{name}}
      </div>
    </div>
  </div>

  <div class="nm-body nm-body-dialogue">
   <div class="nm-sequences" style="width: {{sequenceChain.length * 50}}vw;">
     {{#sequenceChain}}
      <div class="nm-sequence-wrapper">
        <div class="nm-sequence">
          <seqsurrogate></seqsurrogate>
        </div>
      </div>
      {{/sequenceChain}}
   </div>
  </div>
</div>
