<div>
  <h3 class="page-header">
    Add new dialogue
    <button class="close" on-click="close()">&times</button>
  </h3>

  <div class="nm-form">
    <div class="nm-rows">
      <div class="nm-row">
        <div class="nm-cell">
          <label>Name of the new dialogue</label>
          <input type="text" value="{{name}}">
        </div>
      </div>
    </div>
  </div>

  <br/>

  <button type="button" class="btn btn-default pull-left" on-click="create()">Add <span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
