<ol class="breadcrumb">
  <li><a href="/numi-prototypes/">Home</a></li>
  <li class="active">{{name}}</li>
</ol>

{{#prev}}
<a href="{{ href }}">Go back to {{name}}</a>
{{/prev}}

<div class="nm-name">
  <h1 class="page-header" on-click="rename()">
    <small>Filter</small>
    <br/>
    {{ name }}
  </h1>
</div>

<div class="nm-rename well">
  <div class="form-group">
    <input class="nm-rename-value" type="text" value="{{ name }}" />
  </div>

  <button class="btn btn-sm btn-success" on-click="hideRename()">Save</button>
  <button class="btn btn-sm btn-default" on-click="cancelRename()">Cancel</button>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p class="nm-block-title">Match</p>

    <div class="btn-group btn-group-justified" data-toggle="buttons">
      <label class="btn btn-default active">
        <input type="radio" name="options" checked>
        All
      </label>
      <label class="btn btn-default">
        <input type="radio" name="options">
        Any
      </label>
    </div>

    <br/>
    <p class="nm-block-title">of the following</p>
  </div>
</div>

<div class="sortable-blocks">
{{#conditions}}
  {{# type === 'lte' }}
  <lte></lte>
  {{/}}

  {{# type === 'nothas' }}
  <nothas></nothas>
  {{/}}

  {{# type === 'filter' }}
  <filter filter='{{filter}}'></filter>
  {{/}}
{{/conditions}}
</div>

<button class="btn btn-default btn-block nm-placeholder" on-click="addCondition()">+ Add condition</button>
