<ol class="breadcrumb">
  <li><a href="/numi-prototypes/">Home</a></li>
  <li class="active">{{name}}</li>
</ol>

<h1 class="page-header">
  <small>Filter</small>
  <br/>
  {{ name }}
</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <p class="nm-block-title">Match</p>

    <div class="btn-group btn-group-justified" data-toggle="buttons">
      <label class="btn btn-primary active">
        <input type="radio" name="options" checked>
        All
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options">
        Any
      </label>
    </div>

    <br/>
    <p class="nm-block-title">of the following</p>
  </div>
</div>

