html {
  background-color: #333;
  max-width: 320px;
  margin: 0 auto;
}

body {
  background-color: #fff;
}  

.nm-page {
  padding: 1em;
}

.nm-placeholder {
  border-style: dashed;
}

.nm-block-title {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #666;
}

.btn-library {
  margin: 0.5em;
}

.screen {
  padding-bottom: 3em;
  border-bottom: solid 1px #333;
  margin-bottom: 3em;
}