@import './vars';


@mixin scrollbars() {
  &::-webkit-scrollbar-track {
    background: $bg1;
  }

  &::-webkit-scrollbar
  {
    width: 5px;
    background: $bg1;
  }

  &::-webkit-scrollbar-thumb
  {
    background: darken($bg1, 15%);
  }
}

html {
  margin: 0 auto;
}

body {
  background-color: $bg0;
}

.nm-page {
  padding: 1em;
  padding-bottom: 3em;
}

.nm-placeholder {
  border-style: dashed;
}

.nm-block-title {
  color: $fg0;
  font-weight: bold;
}

.btn-library {
  margin: .5em .75em .5em 0;
}

.screen {
  border-bottom: solid 1px $fg0;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.page-header {
  margin-top: 0;
}

.sortable-blocks .nm-block-title,
.sortable-blocks .panel-heading {
  &:hover {
    cursor: move;
  }
}

.panel-highlighted {
  border: solid 1px $fg1;
}

.text-left {
  .btn {
    text-align: left;
  }
}

.panel {
  clear: both;

  .close {
    position: relative;
    right: -10px;
    top: -15px;
  }
}

.btn.close-screen {
  margin-bottom: 1em;
}

.close-screen-text {
  font-size: small;
  left: -4px;
  position: relative;
  top: -2px;
}

.panel-title {
  a {
    display: block;
  }
}

[data-toggle="collapse"] {
  position: relative;

  &:before {
    content: '▼';
    position: absolute;
    right: 0;
  }

  &.collapsed:before {
    content: '▲';
    position: absolute;
    right: 0;
  }
}

[data-toggle="collapse"]:before {
  content: '';
}

[data-toggle="collapse"]:after {
  content: '';
}

.nm-rename-value {
  width: 100%;
}

.alert-lib {
  padding-right: 16px;
}

hr {
  border-color: $fg1;
}

.sortable-blocks-ordered {
  .panel {
    margin-bottom: 3em;
  }
}

.popover {
  display: none;
}


.nm-dialogue {
  user-select: none;

  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.nm-sequence {
  border: 1px solid darken($bg0, 12%);
  user-select: none;
  margin-left: 0;
  margin-right: 0;
  padding: 10px;
  height: 90vh;
  overflow-y: scroll;

  &:not(:first-child) {
    border-left: none;
  }

  &:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
  }

  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
  }

  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  h4 {
    padding: 5px;
  }

  @include scrollbars();
}

.nm-choice {
  display: table;
  clear: both;
  width: 100%;

  span {
    display: table-cell;
    width: 21px;
  }

  input {
    display: table-cell;
  }
}

.nm-drawer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  .row {
    height: 100%;
  }
}

.nm-drawer-body {
  margin-left: auto;
  padding: 20px;
  height: 100%;
  background: $bg0;
  border-left: 1px solid $fg3;
  pointer-events: auto;

  @media (min-width: 768px) {
    width: 50%;
  }

  @media (min-width: 992px) {
    width: 33.33%;
  }
}
