@import './vars';


@mixin y-scrollbar() {
  &::-webkit-scrollbar-track {
    background: $bg1;
  }

  &::-webkit-scrollbar
  {
    width: 5px;
    background: $bg1;
  }

  &::-webkit-scrollbar-thumb
  {
    background: darken($bg1, 15%);
  }
}

@mixin x-scrollbar() {
  &::-webkit-scrollbar-track {
    background: $bg1;
  }

  &::-webkit-scrollbar
  {
    height: 8px;
    width: 5px;
    background: $bg1;
  }

  &::-webkit-scrollbar-thumb
  {
    background: darken($bg1, 15%);
  }
}

html {
  margin: 0 auto;
}

body {
  color: $fg0;
  background-color: $bg0;
  overflow: auto;
}

.btn-default {
  color: $fg0 !important;
}

.breadcrumb {
  width: 70vw;
  margin-left: 15vw;
  margin-bottom: 4px;
}

.nm-placeholder {
  color: $fg0;
  border-style: dashed;
  background: $bg3;
}

.nm-placeholder-default {
  background: $bg0;
}

.nm-placeholder-block {
  margin: 6px;
  padding: 18px 12px;
  font-size: 0.8em;
  text-transform: uppercase;
}

.nm-dialogue-title {
  font-size: 1.3em;
  margin: 8px;
}

.nm-block-title {
  color: $fg0;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}

.nm-type-heading {
  color: $fg0;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

.btn-library {
  margin: .5em .75em .5em 0;
}

.screen {
  border-bottom: solid 1px $fg0;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.page-header {
  margin-top: 0;
}

.sortable-blocks .nm-block-title,
.sortable-blocks .panel-heading {
  &:hover {
    cursor: move;
  }
}

.panel-highlighted {
  border: solid 1px $fg1;
}

.text-left {
  .btn {
    text-align: left;
  }
}

.panel {
  clear: both;

  .close {
    position: relative;
    right: -10px;
    top: -15px;
  }
}

.btn.close-screen {
  margin-bottom: 1em;
}

.close-screen-text {
  font-size: small;
  left: -4px;
  position: relative;
  top: -2px;
}

.panel-title {
  a {
    display: block;
  }
}

[data-toggle="collapse"] {
  position: relative;

  &:before {
    content: '▼';
    position: absolute;
    right: 0;
  }

  &.collapsed:before {
    content: '▲';
    position: absolute;
    right: 0;
  }
}

[data-toggle="collapse"]:before {
  content: '';
}

[data-toggle="collapse"]:after {
  content: '';
}

.nm-rename-value {
  width: 100%;
}

.nm-rename-sequence {
  position: absolute;
}

.alert-lib {
  padding-right: 16px;
}

hr {
  border-color: $fg1;
}

.popover {
  display: none;
}

.nm-container {
  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.nm-container-dashboard {
  overflow-y: scroll;
}

.nm-head {
  position: absolute;
  height: $head-height;
}

.nm-body {
  position: absolute;

  top: $head-height;
  left: 0;
  right: 0;
  bottom: 0;

}

.nm-body-dialogue {
  padding-left: 20px;
  padding-right: 20px;

  @include x-scrollbar();
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: $body-height;
}

.nm-body-dashboard {
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 70vw;
  }
}

.nm-sequence-title {
}

.nm-sequence-wrapper {
  $bg-sequence-odd: $bg4;
  $bg-sequence-even: $bg5;

  width: 430px;
  display: inline-block;
  height: $body-height;
  white-space: nowrap;
  vertical-align: top;

  .nm-sequence {
    background: $bg-sequence-even;
  }

  &:nth-child(2n+1) .nm-sequence {
    background: $bg-sequence-odd;
  }

  &:not(:first-child) .nm-sequence {
    border-left: none;
  }

  &:first-child .nm-sequence {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
  }

  &:last-child .nm-sequence {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
  }
}

.nm-sequence {
  min-height: 50px;
  max-height: $body-height;

  border: 1px solid darken($bg0, 12%);
  user-select: none;

  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  h4 {
    padding: 5px;
  }
}

.nm-sequence-header {
  height: $sequence-header-height;
}

.nm-sequence-title {
  color: $fg0;
  padding: 12px 14px;
  font-size: 1.2em;
}

.nm-sequence-body {
  @include y-scrollbar();
  max-height: $sequence-body-height;
  overflow-y: auto;
  padding: 10px;
}

.nm-sequence-footer {
  height: $sequence-footer-height;
  padding: 8px 5px;
}

.nm-block {
  background: $bg3;
  margin-bottom: 0;
}

.nm-block-action {
  color: $fg0;
  background: 0;
}

.nm-choice-actions {
  padding: 8px 4px;

  .btn {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.nm-drawer {
  z-index: 9000;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .row {
    height: 100%;
  }
}

.nm-drawer-body {
  background: $bg2;
  overflow-y: auto;
  @include y-scrollbar();

  margin-left: auto;
  padding: 20px;
  height: 100%;
  border-left: 1px solid $fg3;
  pointer-events: auto;

  @media (min-width: 768px) {
    width: 50%;
  }

  .nav-tabs > li.active > a {
    background: $bg2;
  }

  .list-group-item {
    background: $bg2;
  }
}

.nm-divider {
  border-color: $fg4;
}

.grid-form {
  label {
    color: $fg0 !important;

    &.nm-unused {
      color: $fg1 !important;
    }
  }

  [data-row-span] {
    border: 1px solid;
    border-color: $fg4 !important;

    &:not(:last-child) {
      border-bottom: 0;
    }

    &:not(:first-child) {
      border-top-color: $bg1 !important;
    }

    &:first-child {
      border-top-left-radius: 4px;
      -webkit-border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      -webkit-border-right-radius: 4px;
    }

    &:last-child {
      border-bottom-left-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
    }

    [data-field-span] {
      padding-top: 14px !important;
      padding-bottom: 14px !important;

      &:hover, &.focus {
        background: $bg1 !important;
      }

      &:not(:last-child) {
        border-right-color: $bg1 !important;
      }

      .nm-choice-text {
        width: 100%;
        display: block;

        input {
          width: 95% !important;
          font-size: 1em;
        }
      }
    }

    .nm-choice-save-as {
      width: 29% !important;
      border-right: 0 !important;
    }
  }

  [data-row-span] {
    background: $bg0;
  }

  [data-row-span="2"] > [data-field-span="2"] {
    &.nm-choice {
      width: 79%;
      border-right: 0;
    }
  }
}

.nm-choice-placeholder {
  color: $fg1 !important;
}

.nm-choice-row-first {
  .nm-choice-actions {
    margin-top: 18px;
  }
}

.nm-preview-list {
  padding: 0;
}

.nm-preview-list-item {
  color: $fg0;
  background: 0;
  margin: 0 -15px;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $fg3;

  &:last-child {
    border: 0;
  }

  &.active {
    color: $fg0;
    background: $bg-active0;
    border: $bg-active0;
    margin-right: -26px;
  }

  &.active:hover, &.active:focus {
    color: $fg0;
    background: $bg-active1;
    border: $bg-active1;
  }
}

a.nm-preview-list-item {
  color: $fg0;

  &:hover, &:focus {
    text-decoration: none;
  }
}

.nm-preview-arrow {
  position: absolute;
  right: 8px;
  top: calc(50% - 14px);
}

.nm-block-wrapper {
  &:last-child {
    .nm-block-separator {
      display: none;
    }
  }
}

.nm-block-separator {
  span {
    color: $fg1;
    margin-top: 14px;
    margin-bottom: 14px;
  }
}

.nm-block-category-title {
  &:hover, &:focus {
    text-decoration: none;
  }
}

.nm-panel-heading-drawer {
  color: $fg0 !important;
  background: $bg4 !important;
}

.nm-panel-body-drawer {
  background: $bg2 !important;
}

a.nm-list-group-item-drawer {
  color: $fg0 !important;
  background: $bg4 !important;

  &:hover, &:focus {
    background: $bg3 !important;
  }
}

.nm-block-palletes {
  width: 100%;
  padding: 4px;
}

.nm-block-pallete-menu {
  width: 25%;
  display: inline-block;
  vertical-align: top;

  li > a {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  li.active > a {
    color: $fg0;
    background: $bg7;
  }

  li.active {
    color: $fg0;
    background: $bg-active0;
    border: $bg-active0;
    margin-right: -26px;
  }

  li {
    a {
      color: $fg0;
      background: $bg4;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:hover, &:focus {
        background: $bg5;
      }
    }

    &.active {
      a {
        color: $fg0;
        background: $bg-active0;

        &:hover, &:focus {
          color: $fg0;
          background: $bg-active1;
        }
      }
    }
  }
}

.nm-block-pallete {
  width: 74.999%;
  display: inline-block;
  vertical-align: top;
  margin-left: -6px;

  .list-group-item {
    &:first-child, &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.nm-dashboard-actions {
  margin: 14px;
}

.nm-dashboard-dialogue-item {
  padding: 0;
}

.nm-dashboard-dialogue-header {
  color: $fg-link;
  display: block;
  background: $bg2;
  font-size: 1.3em;
  width: 100%;
  padding: 6px 12px;
}

.nm-dashboard-dialogue-body {
  padding: 12px;
}

.nm-dashboard-dialogue-actions {
}

.nm-dashboard-dialogue-list {
  margin: 14px;
}
