@import './vars';


@mixin y-scrollbar() {
  &::-webkit-scrollbar-track {
    background: $bg1;
  }

  &::-webkit-scrollbar
  {
    width: 5px;
    background: $bg1;
  }

  &::-webkit-scrollbar-thumb
  {
    background: darken($bg1, 15%);
  }
}

@mixin x-scrollbar() {
  &::-webkit-scrollbar-track {
    background: $bg1;
  }

  &::-webkit-scrollbar
  {
    height: 8px;
    width: 5px;
    background: $bg1;
  }

  &::-webkit-scrollbar-thumb
  {
    background: darken($bg1, 15%);
  }
}

html {
  margin: 0 auto;
}

body {
  color: $fg0;
  background-color: $bg0;
  overflow: auto;
}

.nm-block {
  color: $fg0 !important;

  .badge {
    color: $bg0;
    background: transparentize($fg1, 0.5);
  }
}

.nm-preview-list {
  &.is-showing-language {
    .nm-preview-cell {
      display: inline-block;
      width: 49%;
    }
  }

  & + & {
    .nm-preview-list-item:first-child {
      border-top: 1px solid $fg4;
    }
  }
}

.nm-preview-list-item {
  color: $fg0;
  background: 0;
  margin: 0 -15px;
  padding: 15px;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $fg3;

  p {
    margin-bottom: 0;
  }

  .badge {
    margin-right: 20px;
  }

  &.is-choosable {
    cursor: pointer;
    &:hover, &:focus {
      background: $bg-hover0;
      border-color: $bg-hover0;
    }
  }

  &:last-child {
    border: 0;

  }

  &.active {
    .badge {
      margin-right: 33px;
    }

    color: $fg0;
    background: $bg-active0;
    border-color: $bg-active0;
    margin-right: -26px;
    padding-right: 10px;
  }

  &.active:hover, &.active:focus {
    color: $fg0;
    background: $bg-active1;
    border-color: $bg-active1;
  }
}

a.nm-preview-list-item {
  color: $fg0;

  &:hover, &:focus {
    text-decoration: none;
  }
}

.nm-preview-cells {
  padding: 0;
}

.nm-preview-list-heading {
  .nm-preview-cell {
    color: $fg1;
    font-weight: bold;
    padding-bottom: 6px;
  }
}

.nm-preview-cell {
  padding: 15px;

  &:first-child {
    border-left: 0;
  }
}

.nm-preview-extra {
  padding: 10px 15px;
  padding-bottom: 0;
}

.nm-placeholder {
  color: $fg0;
  border-style: dashed;
  background: $bg3;
}

.nm-placeholder-default {
  background: $bg0;
}

.nm-placeholder-block {
  font-size: 0.8em;
  text-transform: uppercase;
}

.nm-library-block {
  margin: 6px;

  button {
    padding: 18px 12px;
  }
}

.nm-dialogue-head {
  padding: 10px 20px;
}

.nm-dialogue-title {
  font-size: 1.3em;
  margin: 8px;
}

.nm-block-title {
  color: $fg0;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}

.nm-type-heading {
  color: $fg0;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

.btn-library {
  margin: .5em .75em .5em 0;
}

.screen {
  border-bottom: solid 1px $fg0;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.page-header {
  margin-top: 0;
}

.sortable-blocks .nm-block-title,
.sortable-blocks .panel-heading {
  &:hover {
    cursor: move;
  }
}

.panel-highlighted {
  border: solid 1px $fg1;
}

.text-left {
  .btn {
    text-align: left;
  }
}

.panel {
  clear: both;

  .close {
    position: relative;
    right: -10px;
    top: -15px;
  }
}

.btn.close-screen {
  margin-bottom: 1em;
}

.close-screen-text {
  font-size: small;
  left: -4px;
  position: relative;
  top: -2px;
}

.panel-title {
  a {
    display: block;
  }
}

[data-toggle="collapse"] {
  position: relative;

  &:before {
    position: absolute;
    right: 0;
  }

  &.collapsed:before {
    position: absolute;
    right: 0;
  }
}

[data-toggle="collapse"]:before {
  content: '';
}

[data-toggle="collapse"]:after {
  content: '';
}

.nm-rename {
}

.nm-rename-value {
  width: 100%;
}

.nm-rename-sequence {
  position: absolute;
}

.alert-lib {
  padding-right: 16px;
}

hr {
  border-color: $fg1;
}

.popover {
  display: none;
}

.nm-container {
  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.nm-container-dashboard {
  overflow-y: scroll;
}

.nm-title {
  vertical-align: top;
  color: $fg1;
  margin: 4px 8px;
  display: inline-block;
  font-size: 1.2em;

  small {
    font-size: 0.7em;
    display: block;
  }
}

a.nm-title {
  &, &:hover, &:focus {
    text-decoration: none;
  }
}

.nm-title-divider {
  font-size: 1em;
  margin: 4px 8px;
  margin-top: 15px;
  display: inline-block;
}

.nm-title-active {
  color: $fg0;
}

.nm-title-text {
  margin-top: -3px;
}

.nm-title-text-center {
  line-height: 2.5em;
}

.nm-head {
  z-index: 999;
  padding: 4px;

  position: absolute;
  height: $head-height;
  left: 0;
  right: 0;
}

.nm-titles {
  height: $head-height;
  overflow: visible;
  padding: 0 4px;
}

.nm-body {
  padding-top: 10px;
  position: absolute;

  top: $head-height;
  left: 0;
  right: 0;
  bottom: 0;
}

.nm-breadcrumbs {
  padding: 8px 20vw;
}

.nm-body-dialogue {
  padding-left: 20px;
  padding-right: 20px;

  @include x-scrollbar();
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: $body-height;
}

.nm-body-dashboard {
  margin: 0 auto;

  @media (min-width: $screen-medium) {
    max-width: 70vw;
  }
}

.nm-sequence-wrapper {
  $bg-sequence-odd: $bg4;
  $bg-sequence-even: $bg5;

  width: 420px;
  display: inline-block;
  height: $body-height;
  white-space: nowrap;
  vertical-align: top;

  .nm-sequence {
    background: $bg-sequence-even;
  }

  &.is-showing-language {
    width: 640px;
  }

  &:nth-child(2n+1) .nm-sequence {
    background: $bg-sequence-odd;
  }

  &:not(:first-child) .nm-sequence {
    border-left: none;
  }

  &:first-child .nm-sequence {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
  }

  &:last-child .nm-sequence {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
  }
}

.nm-sequence {
  min-height: 50px;
  max-height: $body-height;

  border: 1px solid darken($bg0, 12%);
  user-select: none;

  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  h4 {
    padding: 5px;
  }
}

.nm-sequence-header {
  height: $sequence-header-height;
}

.nm-sequence-title {
  color: $fg0;
  padding: 12px 14px;
  font-size: 1.2em;
}

.nm-sequence-body {
  @include y-scrollbar();
  max-height: $sequence-body-height;
  overflow-y: auto;
  padding: 10px;
}

.nm-sequence-footer {
  height: $sequence-footer-height;
  padding: 8px 5px;
}

.nm-block {
  width: 100%;
  background: $bg3;
  margin-bottom: 0;
  white-space: normal;

  .list-group {
    margin-bottom: 0;
  }

  .panel-footer {
    min-height: 41px;
  }
}

.nm-block-action {
  color: $fg0;
  background: 0;
}

.nm-drawer {
  z-index: 9000;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .row {
    height: 100%;
  }
}

.nm-drawer-body {
  background: $bg2;
  overflow-y: auto;
  @include y-scrollbar();

  margin-left: auto;
  padding: 20px;
  height: 100%;
  border-left: 1px solid $fg3;
  pointer-events: auto;

  @media (min-width: $screen-medium) {
    width: 50%;
  }

  .nav-tabs > li.active > a {
    background: $bg2;
  }

  .list-group-item {
    background: $bg2;
  }
}

.nm-drawer-thin {
  .nm-drawer-body {
    @media (min-width: $screen-medium) {
      width: 25%;
    }
  }
}

.nm-divider {
  border-color: $fg4;
}

.nm-cell-placeholder {
  background: lighten($bg0, 20%);
  cursor: pointer !important;
  color: $fg1;
}

.nm-row-actions {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;

  button {
    height: 100%;
    border-color: $bg1;
    border-radius: 0 !important;
    border-top: 0;
    border-bottom: 0;

    &:hover, &.focus {
      border-color: $bg1;
    }

    &:last-child {
      border-right: 0 !important;
    }
  }
}

.nm-static-input {
  color: $fg5;
  padding: 0;
  margin: 0;
}

.nm-static-input-placeholder {
  color: $fg6;
}

.nm-choice-placeholder {
  color: $fg1 !important;
}

.nm-preview-arrow {
  position: absolute;
  right: 8px;
  top: calc(50% - 14px);
}

.nm-block-wrapper {
  &:last-child {
    .nm-block-separator {
      display: none;
    }
  }
}

.nm-block-separator {
  span {
    color: $fg1;
    margin-top: 14px;
    margin-bottom: 14px;
  }
}

.nm-block-category-title {
  &:hover, &:focus {
    text-decoration: none;
  }
}

.nm-panel-heading-drawer {
  color: $fg0 !important;
  background: $bg4 !important;
}

.nm-panel-body-drawer {
  background: $bg2 !important;
}

a.nm-list-group-item-drawer {
  color: $fg0 !important;
  background: $bg4 !important;

  &:hover, &:focus {
    background: $bg3 !important;
  }
}

a.nm-list-group-item-drawer-secondary {
  color: $fg5 !important;
}

.nm-block-palletes {
  width: 100%;
  padding: 4px;
}

.nm-block-pallete-menu {
  width: 25%;
  display: inline-block;
  vertical-align: top;

  li > a {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  li.active > a {
    color: $fg0;
    background: $bg7;
  }

  li.active {
    color: $fg0;
    background: $bg-active0;
    border: $bg-active0;
    margin-right: -26px;
  }

  li {
    a {
      font-size: 1em;
      color: $fg0;
      background: $bg4;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:hover, &:focus {
        background: $bg5;
      }
    }

    &.active {
      a {
        color: $fg0;
        background: $bg-active0;

        &:hover, &:focus {
          color: $fg0;
          background: $bg-active1;
        }
      }
    }
  }
}

.nm-block-pallete {
  width: 74.999%;
  display: inline-block;
  vertical-align: top;
  margin-left: -6px;

  .list-group-item {
    border-color: $bg2;
    border-width: 2px;
    background: $bg4;

    &:first-child {
      border-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &:first-child, &:last-child {
      border-bottom-left-radius: 0;
    }
  }

  .list-group-item-heading {
    color: $fg7;
    font-size: 1em;
  }
}

.nm-dashboard-actions {
  margin: 14px;
}

.nm-dashboard-dialogue-item {
  padding: 0;
}

.nm-dashboard-dialogue-header {
  color: $fg-link;
  display: block;
  background: $bg2;
  font-size: 1.3em;
  width: 100%;
  padding: 6px 12px;
}

.nm-dashboard-dialogue-body {
  padding: 12px;
}

.nm-dashboard-dialogue-list {
  margin: 14px;
}

.nm-content-actions {
  position: absolute;
  margin-top: 6px;
  right: 6px;
}

.nm-annotation {
  color: $fg1;
}

.nm-preview-annotation {
  color: $fg1;
}

.nm-button-row {
  height: 50px;

  > .btn-group {
    height: 50px;
    margin: 0;


    .btn-group {
      button {
        padding: 0;
      }
    }
  }
}

.nm-publish-time {
  line {
    stroke: $fg-chart-publish;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }
}

.nm-col-swatch-publish {
  background: $fg-chart-publish !important;
}

.sph-chart-areas {
  height: 210px;
  padding: 10px;
  padding-right: 5px;
}

.sph-areas-area {
  stroke: none;
}


.sph-col-areas-title {
  width: 70%;
}


.sph-col-areas-value {
  text-align: right;
}

.sph-areas-metric {
  stroke-width: 2px;
}

.sph-chart-areas {
  .sph-axis-lines {
    line {
      stroke: $bg2;
      stroke-opacity: 0.15;
    }
  }

  .nm-publish-time {
    stroke-opacity: 0.8;
  }
}

.nm-block-pallete-title {
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 4px;
  padding-left: 6px;
  background: $bg4;
  color: $fg7;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 2px solid $bg2;
}

.nm-block-pallete-title-palletes {
  border-top-right-radius: 0;
  border-right: 2px solid $bg2;
}

.nm-block-pallete-title-blocks {
  border-left: 2px solid $bg2;
}

.nm-list-group-pallete-blocks {
  border-top: 0;
}

.nm-form {
  background: $bg0;
  width: 100%;
  border: 1px solid $fg4;
  border-radius: 4px;
}

.nm-list {
  font-size: 1em;
  width: 100%;
  border: 1px solid $fg4;
  border-radius: 4px;
}

.nm-rows {
  width: 100%;
  border-collapse: collapse;

  &:not(:last-child) {
    border-bottom: 1px solid $bg1;

    @media (max-width: ($screen-small - 1)) {
      border-bottom-color: $fg4;
    }
  }
}

.nm-row {
  position: relative;

  &:not(:first-child) {
    border-top: 1px solid $bg1;

    @media (max-width: ($screen-small - 1)) {
      border-top-color: $fg4;
    }
  }

  @media (min-width: $screen-small) {
    display: flex;
  }
}

@mixin show() {
  display: block;
  position: static;
}

@mixin hide() {
  display: none;
  position: absolute;
}

@mixin small-only() {
  &.nm-small-only {
    @include show();

    @media (min-width: $screen-small) {
      @include hide();
    }
  }
}

@mixin hide-small() {
  &.nm-hide-small {
    @include hide();

    @media (min-width: $screen-small) {
      @include show();
    }
  }
}

@mixin cellspan($span) {
  @media (min-width: $screen-small) {
    width: (100% / 24) * $span;
  }
}

.nm-cell {
  @include small-only();
  @include hide-small();

  flex-grow: 1;
  padding: 8px;
  background: $bg0;

  width: 100%;
  display: inline-block;

  &:hover {
    .nm-static-input {
      color: $fg0;
    }
  }

  label {
    @include small-only();
    @include hide-small();

    &.is-unused {
      color: $fg2;
    }

    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    color: $fg1;
    display: block;
    margin-bottom: 4px;
  }

  textarea, input, .nm-editor {
    width: 100%;

    &, &:hover, &:focus {
      border: 0;
      outline: none;
    }
  }

  .nm-editor-text {
    display: inline-block;
    width: 90%;
  }

  &.is-incomplete {
    border: 1px solid $fg-incomplete;
  }

  &.is-inactive {
    opacity: .65;

    &:hover {
      opacity: .9;
    }
  }

  &:not(:first-child) {
    border-left: 1px solid $bg1;

    &.is-incomplete {
      border-left: 1px solid $fg-incomplete;
    }
  }

  &:not(:last-child) {
    @media (max-width: ($screen-small - 1)) {
      &, &.btn {
        border-bottom: 1px solid $bg1;

        &.is-incomplete {
          border-bottom: 1px solid $fg-incomplete;
        }
      }
    }
  }
}

.nm-cell-1 { @include cellspan(1); }
.nm-cell-2 { @include cellspan(2); }
.nm-cell-3 { @include cellspan(3); }
.nm-cell-4 { @include cellspan(4); }
.nm-cell-5 { @include cellspan(5); }
.nm-cell-6 { @include cellspan(6); }
.nm-cell-7 { @include cellspan(7); }
.nm-cell-8 { @include cellspan(8); }
.nm-cell-9 { @include cellspan(9); }
.nm-cell-10 { @include cellspan(10); }
.nm-cell-11 { @include cellspan(11); }
.nm-cell-12 { @include cellspan(12); }
.nm-cell-13 { @include cellspan(13); }
.nm-cell-14 { @include cellspan(14); }
.nm-cell-15 { @include cellspan(15); }
.nm-cell-16 { @include cellspan(16); }
.nm-cell-17 { @include cellspan(17); }
.nm-cell-18 { @include cellspan(18); }
.nm-cell-19 { @include cellspan(19); }
.nm-cell-20 { @include cellspan(20); }
.nm-cell-21 { @include cellspan(21); }
.nm-cell-22 { @include cellspan(22); }
.nm-cell-23 { @include cellspan(23); }
.nm-cell-24 { @include cellspan(24); }

.nm-cell-heading {
  padding: 4px;

  label {
    margin: 0;
  }
}

@mixin nm-cell-choosable() {
  white-space: normal;
  font-size: 0.9em;
  border-radius: 0;
  cursor: pointer !important;

  &, &:hover, &:focus {
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
  }

  &:hover {
    background: $bg2;
  }

  &.is-pressed {
    background: $bg5;
  }
}

.nm-cell-btn {
  @include nm-cell-choosable();
  background: $bg3;
}

.nm-cell-choosable {
  @include nm-cell-choosable();
}

.nm-cell-btn-li {
  font-size: 1em;
  text-align: left;
}

.nm-cell-noborder {
  &:not(:first-child) {
    border-left: 0;
  }
}

.nm-cell-filler {
  border: 0;
  width: auto;
}

.nm-cell-annotation {
  font-size: 0.8em;
}

.nm-cell-annotation-warning {
  color: $fg-warning1;
}

.nm-cell-info {
  background: $bg8;
  padding: 4px 8px;
}

.nm-row-info:not(:first-child) {
  border-top: 1px solid $bg3;
}

.nm-cell-footer {
  background: $bg8;
  padding: 4px 8px;
}

.nm-prefixed-input {
  width: 100%;

  input {
    width: auto;
    overflow: hidden;
  }
}

.nm-cond-operator {
  text-align: center;
}

.nm-cond-operand {
  text-align: center;
  cursor: pointer;
}

.is-disabled {
  opacity: .65;
  cursor: default;
}

.nm-toolbar-group {
  margin-right: 20px;
  display: inline-block;

  &:last-child {
    margin-right: 0;
  }
}

.nm-text-top {
  line-height: 0;
  margin-top: -5px;
}

.nm-editor-textarea {
  padding: 2px;
}

.nm-char-nonascii {
  border-bottom: 2px solid $fg-warning0;
}

.nm-vis-overview {
  padding: 20px;
  height: 100%;

  svg {
    width: 100%;
  }
}

.nm-ov-link {
  fill: none;
  stroke: $fg1;

  &.is-current {
    stroke: $fg-current0;
    stroke-width: 2px;
  }

  &.is-selected {
    stroke: $fg-active0;
    stroke-width: 2px;
  }
}

.nm-ov-node {
  text {
    fill: darken($fg1, 15%);
    font-size: 0.83em;
  }

  &, &.is-current, &.is-collapsed {
    &:hover {
      cursor: pointer;

      circle {
        stroke: $fg-active1;
        fill: $bg-active0;
      }

      text {
        fill: darken($fg-active1, 15%);
      }
    }
  }

  &.is-current {
    circle {
      stroke: $fg-current0;
    }
  }

  &.is-selected {
    circle {
      stroke: $fg-active0;
    }
  }
}

.nm-ov-node-leaf {
  circle {
    fill: $bg0;
    stroke-width: 2px;
    stroke: $fg1;
  }
}

.nm-ov-node-inner {
  circle {
    fill: $bg1;
    stroke-width: 2px;
    stroke: $fg1;
    cursor: pointer;
  }

  &.is-collapsed {
    circle {
      fill: $fg2;
    }
  }

  &.is-current {
    circle {
      fill: $bg-current0;
    }
  }

  &.is-selected {
    circle {
      fill: $bg-active0;
    }
  }
}

.nm-ov-underlay {
  fill-opacity: 0;
}
