<div class="panel panel-default">
  <div class="panel-body">
    <button type="button" class="close" on-click="destroy()"><span>&times;</span></button>

    <p class="nm-block-title">Choice</p>

    <div class="form-group">
        <label for="choice-text">Text</label>
        <input type="text" id="choice-text" name="choice-text" class="form-control">

        <!-- Lets users choose the "routing" -->
        <br/>

        {{#collection}}
        <label>Links to</label>
        <button class="btn btn-default btn-block" on-click="chooseCollection()">{{name}}</button>
        <p class="text-right"><a href="../../collections/{{id}}/edit">View collection</a></p>
        {{/collection}}

        {{^collection}}
        <label>Links to</label>
        <button class="btn btn-default btn-block nm-placeholder" on-click="chooseCollection()">Choose collection</button>
        {{/collection}}
    </div>
  </div>
</div>
