<div>
  {{>header {title: "Languages"}}}

  <div class="nm-form">
    <div class="nm-rows">
      {{#languages}}
      <div class="nm-row">
        <div class="nm-cell nm-cell-17">
          <input class="nm-lang-name" type="text" value="{{name}}" placeholder="Enter a name for this language">
          {{#isParent}}
          <small class="nm-annotation">(Parent)</small>
          {{/isParent}}
        </div>

        <button class="btn nm-cell nm-cell-btn nm-cell-4" on-click="setAsParent(id)" {{#isParent}}disabled{{/isParent}}>Set as parent</button>

        <button class="btn nm-cell nm-cell-btn nm-cell-3" on-click="removeWhere('languages', {id: id})">Remove</button>
      </div>
      {{/languages}}

      <div class="nm-row">
        <button class="nm-cell nm-cell-btn btn nm-cell-placeholder" on-click="addLanguage()">
          + Add a language
        </button>
      </div>
    </div>
  </div>

  <hr class="nm-divider">

  <button type="button" class="btn btn-default pull-left" on-click="close()">Save and close <span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
